<script type="text/javascript" src="/assets/js/accessible-autocomplete.min.js"></script>
<script nonce='{{ params.cspNonce }}'>
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('{{params.selectElement}}'),
    showAllValues: true,
    autoselect: true,
    showNoOptionsFound: true,
    displayMenu: 'overlay',
    preserveNullOptions: true
  })
</script>