<script type="text/javascript" src="/assets/js/accessible-autocomplete.min.js"></script>
<script nonce='{{ params.cspNonce }}'>
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '{{ params.defaultValue }}',
    selectElement: document.querySelector('#{{params.name}}'),
    showAllValues: true,
    autoselect: true,
    showNoOptionsFound: true,
    displayMenu: 'overlay',
    preserveNullOptions: true,
    name: '{{ params.name }}Input'
  })
</script>