<div class='today-link today-link--invisible govuk-body' aria-hidden='true' data-id='{{ params.name }}Container'>
    <button class='govuk-link reset-button' disabled='true' data-id='{{ params.name }}Button' type='button' data-qa='today-link'>Set date to today</button>
</div>
<script type="text/javascript" src="/assets/js/today-link.js"></script>
<script nonce='{{ params.cspNonce }}'>
  if (typeof TodayLink !== 'undefined') {
    new TodayLink({
      dateInputName: '{{ params.name }}'
    })
  }
</script>