{% if googleAnalyticsId %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script>
<script src="/assets/web-vitals.umd.js"></script>
<script nonce='{{ cspNonce }}'>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ googleAnalyticsId }}', {
    page_location: document.location.href.replace(/\/persons\/[^\/]+\//, '/persons/[nomsNumber]/'),
    site_speed_sample_rate : 100,
  {% if recall %}recallId: "{{ recall.recallId }}"{% endif %}
  });
  function sendToGoogleAnalytics({name, delta, id}) {
    gtag('event', name, {
      event_category: 'Web Vitals',
      event_label: id,
      value: Math.round(name === 'CLS' ? delta * 1000 : delta),
      non_interaction: true,
    });
  }
  if (typeof window.webVitals !== 'undefined') {
    window.webVitals.getCLS(sendToGoogleAnalytics);
    window.webVitals.getFID(sendToGoogleAnalytics);
    window.webVitals.getLCP(sendToGoogleAnalytics);
  }
</script>
{% endif %}