{% if recall.assessedByUserId %}
  <h2 class='govuk-heading-m'>Recall assessment</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Assessed by
      </dt>
      <dd class=" govuk-summary-list__value" data-qa='assessedByUserName'>
        {{ recall.assessedByUserName }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Did band 4 agree with the recall recommendation?
      </dt>
      <dd class=" govuk-summary-list__value" data-qa='agreeWithRecall'>
        {% if recall.agreeWithRecall == 'YES' %}Yes{% else %}No{% endif %}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Details on why band 4 agreed or disagreed
      </dt>
      <dd class=" govuk-summary-list__value">
        <pre class='govuk-body' data-qa='agreeWithRecallDetail'>{{ recall.agreeWithRecallDetail }}</pre>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Licence conditions breached
      </dt>
      <dd class=" govuk-summary-list__value">
        <pre class='govuk-body' data-qa='licenceConditionsBreached'>{{ recall.licenceConditionsBreached }}</pre>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Reasons for recall
      </dt>
      <dd class=" govuk-summary-list__value">
        <ul class='govuk-list govuk-list--bullet'>
          {% for reason in filterSelectedItems(referenceData.reasonsForRecall, recall.reasonsForRecall) %}
            <li data-qa='reasonsForRecall-{{ reason.value }}'>{{ reason.text }}</li>
          {% endfor %}
        </ul>
      </dd>
    </div>
    {% if recall.reasonsForRecallOtherDetail %}
      <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key">
          Reasons for recall - other
        </dt>
        <dd class=" govuk-summary-list__value" data-qa='reasonsForRecallOtherDetail'>
          {{ recall.reasonsForRecallOtherDetail }}
        </dd>
      </div>
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Current prison
      </dt>
      <dd class=" govuk-summary-list__value" data-qa='currentPrison'>
        {{ getReferenceDataItemLabel('prisons',
          recall.currentPrison
        ) }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Date/time that recall notification was sent by email
      </dt>
      <dd class=" govuk-summary-list__value" data-qa='recallNotificationEmailSentDateTime'>
        {{ recall.recallNotificationEmailSentDateTime | dateTime }}
      </dd>
    </div>
    {% if recall.recallNotificationEmail %}
      <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key">
          Uploaded recall notification email
        </dt>
        <dd class=" govuk-summary-list__value" data-qa='recallNotificationEmailFileName'>
          <a href='{{ recall.recallNotificationEmail.url }}' class='govuk-link' data-qa='uploadedDocument-{{ recall.recallNotificationEmail.category}}' download>{{ recall.recallNotificationEmail.fileName }}</a>
        </dd>
      </div>
    {% endif %}
  </dl>
{% endif %}
