<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if errors %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors.list,
                attributes: {
                    'data-qa': 'error-list'
                }
            }) }}
        {% endif %}
        {% if not urlInfo.fromPage %}
        <span class="govuk-caption-l" data-qa="addRecallTypeCaption">{{ titlePrefix }}{{ recall.fullName }}</span>
        {% endif %}
        <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    {{ govukSelect({
                        id: "currentPrison",
                        name: "currentPrison",
                        label: {
                            text: "Which prison is " + recall.fullName + " in?",
                            classes: "govuk-label--l",
                            isPageHeading: true
                        },
                        items: selectItems( filterActiveItems(referenceData.prisons), formValues.currentPrison, true),
                        errorMessage: errorMessage(errors.currentPrison)
                    }) }}
                    <div class="govuk-!-margin-top-8">
                        <button class="govuk-button" data-qa="continueButton">Continue</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>