<h2 class='govuk-heading-m govuk-!-margin-top-9' id='custody'>Custody details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Custody status
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='inCustody'>
      In custody
    </dd>
    <dd class=" govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Prison held in
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='currentPrison'>
      {{ getReferenceDataItemLabel('prisons',
        recall.currentPrison
      ) }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('assess-prison', urlInfo, 'custody') }}' data-qa='currentPrisonChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> current prison</span></a>
    </dd>
  </div>
  {% if recall.status == 'DOSSIER_IN_PROGRESS' or recall.status == 'DOSSIER_ISSUED' %}
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Different NOMIS number
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='differentNomsNumber'>
      {% if recall.differentNomsNumber == true %}{{ recall.differentNomsNumberDetail }}{% elif recall.differentNomsNumber == false %}No{% endif %}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('dossier-letter', urlInfo, 'custody') }}' data-qa='differentNomsNumberChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> the different NOMIS number</span></a>
    </dd>
  </div>
  {% endif %}
</dl>