
{% if isDefined(recall.dossierCreatedByUserId) %}
  <h2 class='govuk-heading-m'>Create dossier</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key govuk-!-width-one-half">
        Dossier created by
      </dt>
      <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='dossierCreatedByUserName'>
        {{ recall.dossierCreatedByUserName }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key govuk-!-width-one-half">
        Are there additional licence conditions?
      </dt>
      <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='additionalLicenceConditions'>
        {% if recall.additionalLicenceConditions == true %}Yes{% else %}No{% endif %}
      </dd>
    </div>
    {% if recall.additionalLicenceConditionsDetail %}
      <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key govuk-!-width-one-half">
          Additional licence conditions
        </dt>
        <dd class=" govuk-summary-list__value govuk-!-width-one-half">
          <pre class='govuk-body' data-qa='additionalLicenceConditionsDetail'>{{ recall.additionalLicenceConditionsDetail }}</pre>
        </dd>
      </div>
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key govuk-!-width-one-half">
        Is {{ person.firstName }} {{ person.lastName }} being held under a different NOMIS number to the one on the licence?
      </dt>
      <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='differentNomsNumber'>
        {% if recall.differentNomsNumber == true %}Yes{% else %}No{% endif %}
      </dd>
    </div>
    {% if recall.differentNomsNumberDetail %}
      <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key govuk-!-width-one-half">
          What is the different NOMIS number?
        </dt>
        <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='differentNomsNumberDetail'>
          {{ recall.differentNomsNumberDetail }}
        </dd>
      </div>
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key govuk-!-width-one-half">
        Information in the dossier and letter has been checked
      </dt>
      <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='hasDossierBeenChecked'>
        {% if recall.hasDossierBeenChecked %}Yes{%  else %}No{% endif %}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key govuk-!-width-one-half">
        Date/time that dossier was sent by email
      </dt>
      <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='dossierEmailSentDate'>
        {{ recall.dossierEmailSentDate | dateTime }}
      </dd>
    </div>
    {% if recall.dossierEmail %}
      <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key govuk-!-width-one-half">
          Uploaded dossier email
        </dt>
        <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='dossierEmailFileName'>
          <a href='{{ recall.dossierEmail.url }}' class='govuk-link' data-qa='uploadedDocument-{{ recall.dossierEmail.category}}' download>{{ recall.dossierEmail.fileName }}</a>
        </dd>
      </div>
    {% endif %}
  </dl>
{% endif %}
