{% include '../partials/personDetails.njk' %}
{% include '../partials/custodyDetails.njk' %}
{% include '../partials/recallDetails.njk' %}
{% include '../partials/issuesDetails.njk' %}
{% include '../partials/sentenceDetails.njk' %}
{% include '../partials/policeDetails.njk' %}
{% include '../partials/probationDetails.njk' %}
{% include '../partials/legalRepresentative.njk' %}
{% include '../partials/additionalLicenceConditions.njk' %}
{% include '../partials/generatedDocuments.njk' %}
{% include '../partials/uploadedDocuments.njk' %}
{% include '../partials/missingDocuments.njk' %}
{% include '../partials/rescinds.njk' %}
{% include '../partials/notes.njk' %}