<div id='generated-documents'>
<h2 class='govuk-heading-m govuk-!-margin-top-9'>Recall documents</h2>
<dl class="govuk-summary-list">
    {% for category in generatedDocCategoriesList() %}
        <div class="govuk-summary-list__row">
            <dt class=" govuk-summary-list__key">
                {{ category.label }}
            </dt>
            <dd class=" govuk-summary-list__value">
                {%  if recall.documentsGenerated[category.name] %}
                    <a class='govuk-link' href='{{ recall.documentsGenerated[category.name].url }}' target='_blank' data-qa='appGeneratedDocuments-{{ category.name }}'>{{ recall.documentsGenerated[category.name].fileName }}</a>
                    {% if recall.documentsGenerated[category.name].version > 1 %}
                        <div class='govuk-!-margin-bottom-4'>
                        (<span data-qa='appGeneratedDocuments-{{ category.name }}-version'>version {{ recall.documentsGenerated[category.name].version }}</span>)
                        </div>
                        {% if recall.documentsGenerated[category.name].details %}
                        <pre class='govuk-body' data-qa='appGeneratedDocuments-{{ category.name }}-details'>
                            {{ recall.documentsGenerated[category.name].details }}
                        </pre>
                        {% endif %}
                    {% endif %}
                 {% else %}
                     <span data-qa='appGeneratedDocuments-{{ category.name }}-not-available'>Not available</span>
                {% endif %}
            </dd>
            <dd class=" govuk-summary-list__actions">
                {%  if recall.documentsGenerated[category.name] and category.versioned %}
                    <a href='{{ changeLinkUrl('generated-document-version', urlInfo, 'generated-documents', '', 'versionedCategoryName=' + category.name) }}'
                       data-qa='appGeneratedDocuments-{{ category.name }}-Change' class='govuk-link'>Change <span
                                class="govuk-visually-hidden"> {{ recall.documentsGenerated[category.name].label }}</span></a>
                {% endif %}
            </dd>
        </div>
    {% endfor %}
</dl>
</div>