
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '/'
  },
  serviceLabel: {
    text: applicationName,
    href: '/'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: user.displayName | userName,
      attributes: {'data-qa': 'header-user-name', 'data-private': 'true'},
            href: '/user-details'
    }, {
      text: 'Sign out',
      href: '/logout',
        attributes: {'data-qa': 'logout'}
    }]
  }
}) }}