<h2 class='govuk-heading-m govuk-!-margin-top-9' id='issues'>Issues or needs</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Vulnerability and diversity
    </dt>
    <dd class="govuk-summary-list__value">
      <pre class='govuk-body' data-qa='vulnerabilityDiversity'>
        {% if recall.vulnerabilityDiversity == true %}Yes{% else %}No{% endif %}
      </pre>
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('issues-needs', urlInfo, 'issues', 'vulnerabilityDiversityGroup') }}' data-qa='vulnerabilityDiversityChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> vulnerability and diversity</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Vulnerability and diversity Detail
    </dt>
    <dd class="govuk-summary-list__value">
      <pre class='govuk-body' data-qa='vulnerabilityDiversityDetail'>{{ recall.vulnerabilityDiversityDetail }}</pre>
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('issues-needs', urlInfo, 'issues', 'vulnerabilityDiversityGroup') }}' data-qa='vulnerabilityDiversityChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> vulnerability and diversity detail</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Contraband
    </dt>
    <dd class=" govuk-summary-list__value">
      <pre class='govuk-body' data-qa='contraband'>
        {% if recall.contraband == true %}Yes{% else %}No{% endif %}
      </pre>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('issues-needs', urlInfo, 'issues', 'contrabandGroup') }}' data-qa='contrabandChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> contraband</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Contraband Detail
    </dt>
    <dd class=" govuk-summary-list__value">
      <pre class='govuk-body' data-qa='contrabandDetail'>{{ recall.contrabandDetail }}</pre>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('issues-needs', urlInfo, 'issues', 'contrabandGroup') }}' data-qa='contrabandChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> contraband detail</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      MAPPA level
    </dt>
    <dd class="govuk-summary-list__value" data-qa='mappaLevel'>
      {{ getReferenceDataItemLabel('mappaLevels', recall.mappaLevel) }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('issues-needs', urlInfo, 'issues', 'mappaLevelGroup') }}' data-qa='mappaLevelChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> MAPPA level</span></a>
    </dd>
  </div>
</dl>
