<h2 class='govuk-heading-m govuk-!-margin-top-9'>Issues or needs</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
      Vulnerability and diversity
    </dt>
    <dd class=" govuk-summary-list__value govuk-!-width-one-half">
      {% if recall.vulnerabilityDiversityDetail %}<pre class='govuk-body' data-qa='vulnerabilityDiversityDetail'>{{ recall.vulnerabilityDiversityDetail }}</pre>{% else %}No{% endif %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
      Contraband
    </dt>
    <dd class=" govuk-summary-list__value govuk-!-width-one-half">
      {% if recall.contrabandDetail %}<pre class='govuk-body' data-qa='contrabandDetail'>{{ recall.contrabandDetail }}</pre>{% else %}No{% endif %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
      MAPPA level
    </dt>
    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='mappaLevel'>
      {{ recall.mappaLevelFormatted }}
    </dd>
  </div>
</dl>
