{% if env and env == 'DEVELOPMENT' %}
    <script src="/assets/js/LogRocket.min.js"></script>
    <script nonce='{{ cspNonce }}'>
      window.LogRocket && window.LogRocket.init('nba848/dev', {
        console: {
          isEnabled: false,
        },
        shouldCaptureIP: false,
        network: {
          isEnabled: false
        },
        browser: {
          urlSanitizer: url => {
            try {
              let sanitizedUrl = url
              const patternRecallId = /\/recalls\/([a-z0-9-]+)\//
              const containsRecallId = patternRecallId.exec(sanitizedUrl)
              if (containsRecallId) {
                const recallId = containsRecallId[1]
                sanitizedUrl = sanitizedUrl.replace(recallId, recallId.substring(0, 4))
                return sanitizedUrl
              }
              let patternNomsNumber = /\?nomsNumber=(.+)/
              const containsNomsNumber = patternNomsNumber.exec(sanitizedUrl)
              if (containsNomsNumber) {
                const nomsNumber = containsNomsNumber[1]
                return url.replace(nomsNumber, 'REDACTED')
              }
              return url
            } catch (err) {
              return url
            }
          }
        },
        dom: {
          inputSanitizer: true,
        },
      });
      LogRocket.identify('{{ env if env else 'LOCAL' }}')
    </script>
{% endif %}