{% if recall.requiredDocsMissing.length or recall.missingNotRequiredDocs.length %}
    <div id='missing-documents'>
        <h2 class='govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-9' id='uploaded-documents'>Missing documents</h2>
        <p class='govuk-body'>
            <a href='{{ changeLinkUrl('missing-documents', urlInfo) }}' class='govuk-link'>Add note to this section</a>
        </p>
        <dl class="govuk-summary-list">
            {% for document in recall.requiredDocsMissing %}
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key">
                        {{ document.label }}
                    </dt>
                    <dd class=" govuk-summary-list__value" data-qa='required-{{ document.name }}'>
                        Missing{% if document.requiredReason === 'DOSSIER' %}: needed to create dossier{% endif %}
                    </dd>
                    <dd class=" govuk-summary-list__actions">
                    {% if document.name === 'PART_B_RISK_REPORT' %}
                        <a href='{{ changeLinkUrl('part-b', urlInfo) }}' class='govuk-link'>
                            Add <span class="govuk-visually-hidden"> part B report</span>
                        </a>
                    {% else %}
                        <a href='{{ changeLinkUrl('upload-documents', urlInfo, 'uploaded-documents') }}'
                           data-qa='missingDocument-{{ document.name }}-Change' class='govuk-link'>Add <span
                                    class="govuk-visually-hidden">{{ document.label }}</span></a>
                    {% endif %}
                    </dd>
                </div>
            {% endfor %}
            {% for document in recall.missingNotRequiredDocs %}
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key">
                        {{ document.label }}
                    </dt>
                    <dd class=" govuk-summary-list__value" data-qa='missing-{{ document.name }}'>
                        Missing
                    </dd>
                    <dd class=" govuk-summary-list__actions">
                        <a href='{{ changeLinkUrl('upload-documents', urlInfo, 'uploaded-documents') }}'
                           data-qa='missingDocument-{{ document.name }}-Change' class='govuk-link'>Add <span
                                    class="govuk-visually-hidden">{{ document.label }}</span></a>
                    </dd>
                </div>
            {% endfor %}
        </dl>
        {% set detailsHtml %}
            {% for missingDocumentsRecord in recall.missingDocumentsRecords %}
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key">
                        Details
                    </dt>
                    <dd class=" govuk-summary-list__value">
                      <pre class='govuk-body' data-qa='missingDocumentsRecordDetail-{{ missingDocumentsRecord.version }}'>
                            {{ missingDocumentsRecord.details }}
                      </pre>
                    </dd>
                    <dd class=" govuk-summary-list__actions">
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key">
                        Email uploaded
                    </dt>
                    <dd class=" govuk-summary-list__value">
                        <a href='{{ missingDocumentsRecord.url }}' class='govuk-link'
                           data-qa='missingDocumentsRecordEmail-{{ missingDocumentsRecord.version }}' download>{{ missingDocumentsRecord.fileName }}</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            </dl>
            <p class="govuk-!-margin-bottom-9 govuk-!-margin-top-0 govuk-body-s grey-text"
               data-qa='missingDocumentsRecordNotedBy-{{ missingDocumentsRecord.version }}'>
                Noted by {{ missingDocumentsRecord.createdByUserName}} on {{ missingDocumentsRecord.createdDateTime | dateTime }}
            </p>
            {% endfor %}
            {% endset %}
        {% if recall.missingDocumentsRecords.length > 0 %}
            {{ govukDetails({
                summaryText:  "Show " + recall.missingDocumentsRecords.length + " note" + ("" if recall.missingDocumentsRecords.length === 1 else "s"),
                html: detailsHtml
            }) }}
        {% endif %}

    </div>
{% endif %}