<div  id='personalDetails'>
<h2 class='govuk-heading-m'>Personal details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Name
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='name'>
      {{ recall.fullName }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('licence-name', urlInfo, 'personalDetails') }}' data-qa='licenceNameChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> licence name</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='dateOfBirth'>
      {{ recall.dateOfBirth | dateTime }}
    </dd>
    <dd class=" govuk-summary-list__actions"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      NOMIS
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='nomsNumber'>
      {{ recall.nomsNumber }}
    </dd>
    <dd class=" govuk-summary-list__actions"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      CRO
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='croNumber'>
      {{ recall.croNumber }}
    </dd>
    <dd class=" govuk-summary-list__actions"></dd>
  </div>
  {% if recall.status != 'BEING_BOOKED_ON' %}
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Booking number
      </dt>
      <dd class=" govuk-summary-list__value" data-qa='bookingNumber'>
        {{ recall.bookingNumber }}
      </dd>
      <dd class=" govuk-summary-list__actions">
        <a href='{{ changeLinkUrl('last-release', urlInfo, 'personalDetails', 'bookingNumberGroup') }}' data-qa='bookingNumberChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> booking number</span></a>
      </dd>
    </div>
  {% endif %}
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Name on pre-cons
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='previousConvictionMainName'>
      {{ recall.previousConvictionMainName }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('pre-cons-name', urlInfo, 'personalDetails') }}' data-qa='previousConvictionMainNameChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> pre-cons main name</span></a>
    </dd>
  </div>
  {% if not isInCustody(recall) %}
    {% if recall.lastKnownAddressOption == "YES" %}
      {% if recall.lastKnownAddresses.length %}
        {% for address in recall.lastKnownAddresses %}
        <div class="govuk-summary-list__row" data-qa='address-{{ address.lastKnownAddressId }}'>
          <dt class=" govuk-summary-list__key">
            Address {{ loop.index if recall.lastKnownAddresses.length > 1 else '' }}
          </dt>
          <dd class=" govuk-summary-list__value">
              <div class='govuk-body'>
                <div data-qa='line1'>{{ address.line1 }}</div>
                {% if address.line2 %}
                <div data-qa='line2'>{{ address.line2 }}</div>
                {% endif %}
                <div data-qa='town'>{{ address.town }}</div>
                {% if address.postcode %}
                <div data-qa='postcode'>{{ address.postcode }}</div>
                {% endif %}
              </div>
          </dd>
          <dd class=" govuk-summary-list__actions">
            <a href='{{ changeLinkUrl('address-list', urlInfo, 'personalDetails') }}' data-qa='lastKnownAddressOptionChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> address {{ loop.index if recall.lastKnownAddresses.length > 1 else '' }}</span></a>
          </dd>
        </div>
        {% endfor %}
      {% else %}
        <div class="govuk-summary-list__row">
          <dt class=" govuk-summary-list__key">
            Address
          </dt>
          <dd class=" govuk-summary-list__value">
            <div class='govuk-body'>
              Not provided
            </div>
          </dd>
          <dd class=" govuk-summary-list__actions">
            <a href='{{ changeLinkUrl('address-list', urlInfo, 'personalDetails') }}' data-qa='lastKnownAddressOptionChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> or add addresses</span></a>
          </dd>
        </div>
      {% endif %}
    {% elseif recall.lastKnownAddressOption == "NO_FIXED_ABODE" %}
      <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key">
          Address
        </dt>
        <dd class=" govuk-summary-list__value">
          <div class='govuk-body'>
            No fixed abode
          </div>
        </dd>
        <dd class=" govuk-summary-list__actions">
          <a href='{{ changeLinkUrl('last-known-address', urlInfo, 'personalDetails') }}' data-qa='lastKnownAddressOptionChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> last known addresses</span></a>
        </dd>
      </div>
    {% endif %}
  {% endif %}
</dl>
</div>