{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
        {
            text: 'Recalls',
            href: '/',
            active: isTodoPage == true,
            attributes: { 'data-qa': 'navLinkToDo'}
        },
        {
            text: 'Find a person',
            href: '/find-person',
            active: isFindPersonPage == true,
            attributes: { 'data-qa': 'navLinkFindSomeone'}
        }
    ]
}) }}