{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
        {
            text: 'To do',
            href: '/',
            active: isTodoPage == true,
            attributes: { 'data-qa': 'navLinkToDo'}
        },
        {
            text: 'Find someone',
            href: '/find-offender',
            active: isTodoPage != true,
            attributes: { 'data-qa': 'navLinkFindSomeone'}
        }
    ]
}) }}