<h2 class='govuk-heading-m govuk-!-margin-top-9' id='probation'>Probation details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Probation officer
    </dt>
    <dd class=" govuk-summary-list__value" data-private>
      <p class='govuk-body' data-qa='probationOfficerName'>{{ recall.probationOfficerName }}</p>
      <p class='govuk-body'><a class='govuk-link' href='mailto:{{ recall.probationOfficerEmail }}' target='_blank' rel='noopener' data-qa='probationOfficerEmail'>{{ recall.probationOfficerEmail }}</a></p>
      <p class='govuk-body' data-qa='probationOfficerPhoneNumber'>{{ recall.probationOfficerPhoneNumber }}</p>
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('probation-officer', urlInfo, 'probation', 'probationOfficerGroup') }}' data-qa='probationOfficerChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> probation officer details</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Local Delivery Unit
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='localDeliveryUnit'>
      {{ getReferenceDataItemLabel(
        'localDeliveryUnits',
        recall.localDeliveryUnit
      ) }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('probation-officer', urlInfo, 'probation', 'localDeliveryUnitGroup') }}' data-qa='localDeliveryUnitChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> Local Delivery Unit</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      ACO
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='authorisingAssistantChiefOfficer' data-private>
      {{ recall.authorisingAssistantChiefOfficer }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('probation-officer', urlInfo, 'probation', 'authorisingAssistantChiefOfficerGroup') }}' data-qa='authorisingAssistantChiefOfficerChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> ACO</span></a>
    </dd>
  </div>
  {% if recall.seniorProbationOfficerInfo %}
    <div class="govuk-summary-list__row">
      <dt class=" govuk-summary-list__key">
        Senior Probation Officer
      </dt>
      <dd class=" govuk-summary-list__value" data-private>
        <p class='govuk-body' data-qa='seniorProbationOfficerInfo_fullName'>{{ recall.seniorProbationOfficerInfo.fullName }}</p>
        <p class='govuk-body'>
          <a class='govuk-link' href='mailto:{{ recall.seniorProbationOfficerInfo.email }}' target='_blank' rel='noopener' data-qa='seniorProbationOfficerInfo_email'>
            {{ recall.seniorProbationOfficerInfo.email }}
          </a>
        </p>
        <p class='govuk-body' data-qa='seniorProbationOfficerInfo_phoneNumber'>{{ recall.seniorProbationOfficerInfo.phoneNumber }}</p>
        <p class='govuk-body' data-qa='seniorProbationOfficerInfo_functionalEmail'>
          <a class='govuk-link' href='mailto:{{ recall.seniorProbationOfficerInfo.functionalEmail }}' target='_blank' rel='noopener' data-qa='seniorProbationOfficerInfo_functionalEmail'>
            {{ recall.seniorProbationOfficerInfo.functionalEmail }}</a>
        </p>
      </dd>
      <dd class=" govuk-summary-list__actions">
        <a href='{{ changeLinkUrl('secondary-dossier-probation', urlInfo, 'probation') }}' class='govuk-link'>
          Change <span class="govuk-visually-hidden"> Senior Probation Officer details</span>
        </a>
      </dd>
    </div>
  {% endif %}

</dl>
