{% if recall.status == 'BEING_BOOKED_ON' %}
    <div><a href='/persons/{{recall.nomsNumber}}/recalls/{{recall.recallId}}/{% if recall.middleNames %}licence-name{% else %}pre-cons-name{% endif %}{% if returnToRecallList %}?returnToRecallList=1{% endif %}' data-qa='continue-booking-{{ recall.recallId }}'>Continue booking</a></div>
{% elif recall.status == 'BOOKED_ON' %}
<div>
    <form novalidate action="/persons/{{ recall.nomsNumber }}/recalls/{{ recall.recallId }}/assess-assign" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link reset-button link-button" data-module="govuk-button" data-qa="assess-recall-{{ recall.recallId }}">
            Assess recall
        </button>
    </form>
</div>
{% elif recall.status == 'IN_ASSESSMENT' %}
<div><a href='/persons/{{recall.nomsNumber}}/recalls/{{recall.recallId}}/assess' data-qa='continue-assess-{{ recall.recallId }}'>Continue assessment</a></div>
{% elif recall.status == 'AWAITING_DOSSIER_CREATION' %}
<div>
    <form novalidate action="/persons/{{ recall.nomsNumber }}/recalls/{{ recall.recallId }}/dossier-assign" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link reset-button link-button" data-module="govuk-button" data-qa="create-dossier-{{ recall.recallId }}">
            Create dossier
        </button>
    </form>
</div>
{% elif recall.status == 'DOSSIER_IN_PROGRESS' %}
<div><a href='/persons/{{recall.nomsNumber}}/recalls/{{recall.recallId}}/dossier-recall' data-qa='continue-dossier-{{ recall.recallId }}'>Continue dossier creation</a></div>
{% endif %}