<h2 class='govuk-heading-m govuk-!-margin-top-9'>Recall request date and time</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
      Recall email received
    </dt>
    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='recallEmailReceivedDateTime'>
      {{ recall.recallEmailReceivedDateTime | dateTime}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
      Recall email uploaded
    </dt>
    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='recallRequestEmailFileName'>
      <a href='{{ recall.recallRequestEmail.url }}' class='govuk-link' data-qa='uploadedDocument-{{ recall.recallRequestEmail.category}}' download>{{ recall.recallRequestEmail.fileName }}</a>
    </dd>
  </div>
</dl>
