<div id='recallDetails'>
    <h2 class='govuk-heading-m govuk-!-margin-top-9'>Recall details</h2>
    <dl class="govuk-summary-list">

        {% if recall.status != 'BEING_BOOKED_ON' %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Recall type
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='recallLength'>
                    Fixed term
                </dd>
                <dd class=" govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Recall length
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='recallLength'>
                    {{ getReferenceDataItemLabel('recallLengths', recall.recallLength) }} days
                </dd>
                <dd class=" govuk-summary-list__actions">
                </dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class=" govuk-summary-list__key">
                Recall email received
            </dt>
            <dd class=" govuk-summary-list__value" data-qa='recallEmailReceivedDateTime'>
                {{ recall.recallEmailReceivedDateTime | dateTime }}
            </dd>
            <dd class=" govuk-summary-list__actions">
                <a href='{{ changeLinkUrl('request-received', urlInfo, 'recallDetails') }}'
                   data-qa='recallEmailReceivedDateTimeChange' class='govuk-link'>Change <span
                            class="govuk-visually-hidden"> recall email received date</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class=" govuk-summary-list__key">
                Recall email uploaded
            </dt>
            <dd class=" govuk-summary-list__value" data-qa='recallRequestEmailFileName'>
                <a href='{{ recall.emailsUploaded.RECALL_REQUEST_EMAIL.url }}' class='govuk-link'
                   data-qa='uploadedDocument-{{ recall.emailsUploaded.RECALL_REQUEST_EMAIL.category }}'
                   download>{{ recall.emailsUploaded.RECALL_REQUEST_EMAIL.fileName }}</a>
            </dd>
            <dd class=" govuk-summary-list__actions">
                    <a href='{{ changeLinkUrl('request-received', urlInfo, 'recallDetails') }}'
                       data-qa='recallRequestEmailFileNameChange' class='govuk-link'>Change <span
                                class="govuk-visually-hidden"> uploaded recall email</span></a>
            </dd>
        </div>

        {% if recall.status != 'BEING_BOOKED_ON' %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Recall booked by
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='bookedByUserName'>
                    {{ recall.bookedByUserName }}
                </dd>
                <dd class=" govuk-summary-list__actions">
                </dd>
            </div>
        {% endif %}
        {% if isStatusAfterAssessStart(recall.status) %}
            {% if recall.licenceConditionsBreached %}
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key">
                        Licence conditions breached
                    </dt>
                    <dd class=" govuk-summary-list__value">
                    <pre class='govuk-body'
                         data-qa='licenceConditionsBreached'>{{ recall.licenceConditionsBreached }}</pre>
                    </dd>
                    <dd class=" govuk-summary-list__actions">
                        <a href='{{ changeLinkUrl('assess-licence', urlInfo, 'recallDetails') }}' class='govuk-link'>
                            Change <span class="govuk-visually-hidden"> licence conditions breached</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key">
                        Reasons for recall
                    </dt>
                    <dd class=" govuk-summary-list__value">
                        <ul class='govuk-list govuk-list--bullet'>
                            {% for reason in filterSelectedItems(referenceData.reasonsForRecall, recall.reasonsForRecall) %}
                                <li data-qa='reasonsForRecall-{{ reason.value }}'>
                                    {{ reason.text }}{% if reason.text == 'Other' %} - <br /><pre class='govuk-body'>{{ recall.reasonsForRecallOtherDetail }}</pre>{% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </dd>
                    <dd class=" govuk-summary-list__actions">
                        <a href='{{ changeLinkUrl('assess-licence', urlInfo, 'recallDetails') }}' class='govuk-link'>
                            Change <span class="govuk-visually-hidden"> reasons for recall</span>
                        </a>
                    </dd>
                </div>
            {% endif %}
            {% if recall.assessedByUserName %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Recall assessed by
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='assessedByUserName'>
                    {{ recall.assessedByUserName }}
                </dd>
                <dd class=" govuk-summary-list__actions">
                </dd>
            </div>
            {% endif %}
            {% if recall.agreeWithRecallDetail %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Assessment notes
                </dt>
                <dd class=" govuk-summary-list__value">
                    <pre class='govuk-body' data-qa='agreeWithRecallDetail'>{{ recall.agreeWithRecallDetail }}</pre>
                </dd>
                <dd class=" govuk-summary-list__actions">
                    <a href='{{ changeLinkUrl('assess-decision', urlInfo, 'recallDetails') }}' class='govuk-link'>
                        Change <span class="govuk-visually-hidden"> assessment notes</span>
                    </a>
                </dd>
            </div>
            {% endif %}
        {% endif %}
        {% if recall.recallNotificationEmailSentDateTime %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Recall notification email sent
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='recallNotificationEmailSentDateTime'>
                    {{ recall.recallNotificationEmailSentDateTime | dateTime }}
                </dd>
                <dd class=" govuk-summary-list__actions">
                    <a href='{{ changeLinkUrl('assess-email', urlInfo, 'recallDetails') }}' class='govuk-link'>
                        Change <span class="govuk-visually-hidden"> recall notification email sent date</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Recall notification email uploaded
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='recallNotificationEmailFileName'>
                    <a href='{{ recall.emailsUploaded.RECALL_NOTIFICATION_EMAIL.url }}' class='govuk-link'
                       data-qa='uploadedDocument-{{ recall.emailsUploaded.RECALL_NOTIFICATION_EMAIL.category }}'
                       download>{{ recall.emailsUploaded.RECALL_NOTIFICATION_EMAIL.fileName }}</a>
                </dd>
                <dd class=" govuk-summary-list__actions">
                    <a href='{{ changeLinkUrl('assess-email', urlInfo, 'recallDetails') }}' class='govuk-link'>
                        Change <span class="govuk-visually-hidden"> uploaded recall notification email</span>
                    </a>
                </dd>
            </div>
        {% endif %}
        {% if recall.status == 'DOSSIER_ISSUED' %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Dossier created by
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='dossierCreatedByUserName'>
                    {{ recall.dossierCreatedByUserName }}
                </dd>
                <dd class=" govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Dossier sent
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='dossierEmailSentDate'>
                    {{ recall.dossierEmailSentDate | dateTime }}
                </dd>
                <dd class=" govuk-summary-list__actions">
                    <a href='{{ changeLinkUrl('dossier-email', urlInfo, 'recallDetails') }}' class='govuk-link'>
                        Change <span class="govuk-visually-hidden"> dossier email sent date</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    Dossier email uploaded
                </dt>
                <dd class=" govuk-summary-list__value" data-qa='dossierEmailFileName'>
                    <a href='{{ recall.emailsUploaded.DOSSIER_EMAIL.url }}' class='govuk-link'
                       data-qa='uploadedDocument-{{ recall.emailsUploaded.DOSSIER_EMAIL.category }}'
                       download>{{ recall.emailsUploaded.DOSSIER_EMAIL.fileName }}</a>
                </dd>
                <dd class=" govuk-summary-list__actions">
                    <a href='{{ changeLinkUrl('dossier-email', urlInfo, 'recallDetails') }}' class='govuk-link'>
                        Change <span class="govuk-visually-hidden"> uploaded dossier email</span>
                    </a>
                </dd>
            </div>
        {% endif %}
    </dl>
</div>