{% if recall.status == 'BEING_BOOKED_ON' %}
    <div>
        <a href='/recalls/{{recall.recallId}}/{% if recall.middleNames %}licence-name{% else %}pre-cons-name{% endif %}{% if returnToRecallList %}?returnToRecallList=1{% endif %}' data-qa='continue-booking-{{ recall.recallId }}'>
            Continue booking<span class="govuk-visually-hidden">{{ linkTextWithPerson(recall) }}</span>
        </a>
    </div>
{% elif recall.status in ['BOOKED_ON', 'IN_ASSESSMENT'] %}
<div>
    <form novalidate action="/recalls/{{ recall.recallId }}/assess-assign" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link reset-button link-button" data-module="govuk-button" data-qa="assess-recall-{{ recall.recallId }}">
            {% if recall.status == 'IN_ASSESSMENT' %}Continue assessment{% else %}Assess recall{% endif %}<span class="govuk-visually-hidden">{{ linkTextWithPerson(recall) }}</span>
        </button>
    </form>
</div>
{% elif recall.status in ['AWAITING_DOSSIER_CREATION', 'DOSSIER_IN_PROGRESS'] %}
<div>
    <form novalidate action="/recalls/{{ recall.recallId }}/dossier-assign" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link reset-button link-button" data-module="govuk-button" data-qa="create-dossier-{{ recall.recallId }}">
            {% if recall.status == 'DOSSIER_IN_PROGRESS' %}Continue dossier creation{% else %}Create dossier{% endif %}<span class="govuk-visually-hidden">{{ linkTextWithPerson(recall) }}</span>
        </button>
    </form>
</div>
{% endif %}