<h2 class='govuk-heading-m govuk-!-margin-top-9' id='documents'>Recall documents</h2>
<dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class=" govuk-summary-list__key">
                Recall notification
            </dt>

            <dd class=" govuk-summary-list__value">
                {%  if recall.recallNotification.name %}
                <a class='govuk-link' href='{{ recall.recallNotification.url }}' target='_blank' data-qa='appGeneratedDocuments-{{ recall.recallNotification.category }}'>{{ recall.recallNotification.label }}</a>
                 {% else %}
                     Not available
                {% endif %}
            </dd>
        </div>

    <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key">
           Revocation order
        </dt>

        <dd class=" govuk-summary-list__value">
            {%  if recall.revocationOrder.name %}
                <a class='govuk-link' href='{{ recall.revocationOrder.url }}' target='_blank' data-qa='appGeneratedDocuments-{{ recall.revocationOrder.category }}'>{{ recall.revocationOrder.label }}</a>
            {% else %}
                Not available
            {% endif %}
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key">
            Letter to prison
        </dt>

        <dd class=" govuk-summary-list__value">
            {%  if recall.letterToPrison.name %}
                <a class='govuk-link' href='{{ recall.letterToPrison.url }}' target='_blank' data-qa='appGeneratedDocuments-{{ recall.letterToPrison.category }}'>{{ recall.letterToPrison.label }}</a>
            {% else %}
                Not available
            {% endif %}
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key">
            Dossier
        </dt>

        <dd class=" govuk-summary-list__value">
            {%  if recall.dossier.name %}
                <a class='govuk-link' href='{{ recall.dossier.url }}' target='_blank' data-qa='appGeneratedDocuments-{{ recall.dossier.category }}'>{{ recall.dossier.label }}</a>
            {% else %}
                Not available
            {% endif %}
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class=" govuk-summary-list__key">
            Reasons for Recall
        </dt>

        <dd class=" govuk-summary-list__value">
            {%  if recall.reasonsForRecallDoc.name %}
                <a class='govuk-link' href='{{ recall.reasonsForRecallDoc.url }}' target='_blank' data-qa='appGeneratedDocuments-{{ recall.reasonsForRecallDoc.category }}'>{{ recall.reasonsForRecallDoc.label }}</a>
            {% else %}
                Not available
            {% endif %}
        </dd>
    </div>

</dl>