{% if confirmationMessage %}
    {{ mojBanner({
        type: confirmationMessage.type,
        html: '<span data-qa="confirmation">' + confirmationMessage.text + '</span>' + (' <a href="' + confirmationMessage.link.href + '" class="govuk-link"> '+ confirmationMessage.link.text + '</a>' if confirmationMessage.link),
        iconFallbackText: confirmationMessage.type
    }) }}
{% endif %}