<div class="govuk-heading-l govuk-!-margin-top-8 flex flex--space-between">
    <div>
    <span class='govuk-!-padding-right-2'>
    Recall information
    </span>
    {{govukTag(recallStatusTagProperties(recall.status))}}
    </div>
    <div>
        <div>
            {{ mojButtonMenu({
                items: [{
                    text: "View change history",
                    href: makeUrl('change-history', { basePath: urlInfo.basePath, fromPage: fromPage })
                },
                    {
                    text: "Rescind recall",
                    href: makeUrl('rescind-request', { basePath: urlInfo.basePath, fromPage: fromPage })
                }]
            }) }}
        </div>
        <script nonce='{{ cspNonce }}'>
          new MOJFrontend.ButtonMenu({
            container: $(".moj-button-menu"),
            mq: "(min-width: 200em)",
            buttonText: "Actions",
            menuClasses: "moj-button-menu__wrapper--right",
          });
        </script>
    </div>
</div>