<h2 class='govuk-heading-m govuk-!-margin-top-9' id='sentenceDetails'>Sentence, offence and release details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Sentence type
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='sentenceType'>
      Determinate
    </dd>
    <dd class=" govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Date of sentence
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='sentenceDate'>
      {{ recall.sentenceDate | dateTime }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'sentenceDateGroup') }}' data-qa='sentenceDateChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> date of sentence</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Licence expiry date
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='licenceExpiryDate'>
      {{ recall.licenceExpiryDate | dateTime }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'licenceExpiryDateGroup') }}' data-qa='licenceExpiryDateChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> licence expiry date</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Sentence expiry date
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='sentenceExpiryDate'>
      {{ recall.sentenceExpiryDate | dateTime }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'sentenceExpiryDateGroup') }}' data-qa='sentenceExpiryDateChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> sentence expiry date</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Length of sentence
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='sentenceLength'>
      {% if recall.sentenceLength.years %}{{ recall.sentenceLength.years }} years {% endif %}{% if recall.sentenceLength.months %}{{ recall.sentenceLength.months }} months {% endif %}{% if recall.sentenceLength.days %}{{ recall.sentenceLength.days }} days{% endif %}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'sentenceLengthGroup') }}' data-qa='sentenceLengthChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> sentence length</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Sentencing court
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='sentencingCourt'>
      {{ getReferenceDataItemLabel('courts',
        recall.sentencingCourt
      ) }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'sentencingCourtGroup') }}' data-qa='sentencingCourtChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> sentencing court</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Index offence
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='indexOffence'>
      {{ recall.indexOffence }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'indexOffenceGroup') }}' data-qa='indexOffenceChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> index offence</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Releasing prison
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='lastReleasePrison'>
      {{ getReferenceDataItemLabel('prisons',
        recall.lastReleasePrison
      ) }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'lastReleasePrisonGroup') }}' data-qa='lastReleasePrisonChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> releasing prison</span></a>
    </dd>
  </div>
  {% if recall.status == null %}
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Booking number
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='bookingNumber'>
      {{ recall.bookingNumber }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'bookingNumberGroup') }}' data-qa='bookingNumberChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> booking number</span></a>
    </dd>
  </div>
  {% endif %}
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Latest release date
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='lastReleaseDate'>
      {{ recall.lastReleaseDate | dateTime }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'lastReleaseDateGroup') }}' data-qa='lastReleaseDateChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> latest release date</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class=" govuk-summary-list__key">
      Conditional release date
    </dt>
    <dd class=" govuk-summary-list__value" data-qa='conditionalReleaseDate'>
      {{ recall.conditionalReleaseDate | dateTime }}
    </dd>
    <dd class=" govuk-summary-list__actions">
      <a href='{{ changeLinkUrl('last-release', urlInfo, 'sentenceDetails', 'conditionalReleaseDateGroup') }}' data-qa='conditionalReleaseDateChange' class='govuk-link'>Change <span class="govuk-visually-hidden"> conditional release date</span></a>
    </dd>
  </div>
</dl>
