{% if recall.documents.length %}
  {% if recall.addToExistingUploads != true %}
<h2 class="govuk-heading-m">Uploaded documents</h2>
<dl class="govuk-summary-list govuk-summary-list--auto-widths" id='uploads-list'>
  {% endif %}
  {% for category in recall.documentCategories %}
    {% for file in category.uploaded %}
    <div class="govuk-summary-list__row document-row" id='{{ file.documentId }}'>
      <dt class=" govuk-summary-list__key">
        <a href='{{ file.url }}' target='_blank' class='govuk-link{% if errors[file.documentId] %} govuk-link--error{% endif %}' data-qa='link-{{ file.documentId }}'>{{ file.standardFileName if file.standardFileName else file.fileName }}</a>
      </dt>
      <dd class="govuk-summary-list__value">
        <div class="flex flex--col">
          {% if file.category == 'UNCATEGORISED' %}
              <input type='hidden' name='fileName-{{ file.documentId }}' value='{{ file.standardFileName if file.standardFileName else file.fileName }}'>
              <label class="govuk-label govuk-visually-hidden" for="{{ file.documentId }}">
                  Select the document category
              </label>
              <select class="govuk-select document-upload-select-type" id='{{ file.documentId }}' name="category-{{ file.documentId }}" data-qa='category-index-{{ file.suggestedCategory }}'>
                  {% for docCategory in recall.documentCategories %}
                      <option value="{{ docCategory.name }}" {% if (not errors[file.documentId]) and file.suggestedCategory == docCategory.name %}selected{% endif %}>
                          {{ docCategory.label }}
                      </option>
                  {% endfor %}
              </select>
          {% else %}
              <span data-qa='category-label-{{ category.name }}'>{{ category.label }}</span>
              <input type='hidden' name="category-existing-{{ file.documentId }}" value="{{ file.category }}" />
          {% endif %}
        </div>
      </dd>
      {% if recall.enableDeleteDocuments == true %}
      <dd class="govuk-summary-list__actions">
        <button type="submit" class="reset-button link-button" name="delete" value="{{file.documentId}}" data-qa='delete-{{ file.documentId }}'>Delete</button>
      </dd>
      {% endif %}
    </div>
    {% endfor %}
  {% endfor %}
    {% if recall.addToExistingUploads != true %}
  </dl>
  {% endif %}
{% endif %}