{% if recall.documentsUploaded.length %}
    <div class='flex flex--align-baseline govuk-!-margin-top-9 govuk-!-margin-bottom-4'>
        <h2 class='govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-right-4' id='uploaded-documents'>Uploaded documents</h2>
        <div class="govuk-body govuk-!-margin-0" >
            <a href="{{ changeLinkUrl('upload-documents', urlInfo, 'documents') }}" class="govuk-link" data-qa='addDocuments'>Add documents</a>
        </div>
    </div>
    <dl class="govuk-summary-list">
        {% for document in recall.documentsUploaded %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key" data-qa='uploadedDocument-{{ document.category }}-label'>
                    {% if document.category === 'UNCATEGORISED' %}Uncategorised{% else %}{{ document.label }}{% endif %}
                </dt>
                <dd class=" govuk-summary-list__value">
                    <div class='govuk-!-margin-bottom-4'>
                    {% include '../partials/uploadedDocumentLink.njk' %}
                    </div>
                    {% if document.details %}
                        <pre class='govuk-body' data-qa='uploadedDocument-{{ document.category }}-details'>
                            {{ document.details }}
                        </pre>
                    {% endif %}
                </dd>
                <dd class=" govuk-summary-list__actions">
                    {% if recall.status === 'BEING_BOOKED_ON' or document.category === 'UNCATEGORISED' %}
                        <a href='{{ changeLinkUrl('upload-documents', urlInfo, 'uploaded-documents') }}'
                           data-qa='uploadedDocument-{{ document.category }}-Change' class='govuk-link'>Change <span
                                    class="govuk-visually-hidden"> {{ document.label }}</span></a>
                    {% elseif document.version %}
                        <a href='{{ changeLinkUrl('upload-document-version', urlInfo, 'uploaded-documents', '', 'versionedCategoryName=' + document.category) }}'
                           data-qa='uploadedDocument-{{ document.category }}-Change' class='govuk-link'>Change <span
                                    class="govuk-visually-hidden"> {{ document.label }}</span></a>
                    {% endif %}
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}