{% if recall.documentsUploaded.length %}
    <h2 class='govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-9' id='uploaded-documents'>Uploaded documents</h2>
    <p class='govuk-body'>
        <a href="{{ changeLinkUrl('upload-documents', urlInfo, 'documents') }}" class="govuk-link" data-qa='addDocuments'>Add documents</a>
    </p>
    <dl class="govuk-summary-list">
        {% for document in recall.documentsUploaded %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key" data-qa='uploadedDocument-{{ document.category }}-label'>
                    {% if document.category === 'UNCATEGORISED' %}Uncategorised{% else %}{{ document.label }}{% endif %}
                </dt>
                <dd class=" govuk-summary-list__value">
                    {% include '../partials/uploadedDocumentLink.njk' %}
                    {% if document.details %}
                        <pre class='govuk-body govuk-!-margin-top-4' data-qa='uploadedDocument-{{ document.category }}-details' data-private>
                            {{ document.details }}
                        </pre>
                    {% endif %}
                </dd>
                <dd class=" govuk-summary-list__actions">
                    {% if document.category === 'PART_B_RISK_REPORT' %}
                        <a href='{{ changeLinkUrl('part-b', urlInfo, 'recallDetails-part-b') }}' class='govuk-link'>
                            Change <span class="govuk-visually-hidden"> part B report</span>
                        </a>
                    {% else %}
                        {% if recall.status === 'BEING_BOOKED_ON' or document.category === 'UNCATEGORISED' %}
                            <a href='{{ changeLinkUrl('upload-documents', urlInfo, 'uploaded-documents') }}'
                               data-qa='uploadedDocument-{{ document.category }}-Change' class='govuk-link'>Change <span
                                        class="govuk-visually-hidden"> {{ document.label }}</span></a>
                        {% elseif document.version %}
                            <a href='{{ changeLinkUrl('upload-document-version', urlInfo, 'uploaded-documents', '', 'versionedCategoryName=' + document.category) }}'
                               data-qa='uploadedDocument-{{ document.category }}-Change' class='govuk-link'>Change <span
                                        class="govuk-visually-hidden"> {{ document.label }}</span></a>
                        {% endif %}
                    {% endif %}
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}