.govuk-main-wrapper {
  min-height: 600px
}

.reset-button {
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
  background: none;
  border: 0 none;
  cursor: pointer;
}
.link-button {
  @extend %govuk-link;
  color: $govuk-link-colour;
}

.govuk-panel--neutral {
  background-color: govuk-colour("light-grey")
}

pre.govuk-body {
  white-space: pre-line;
}

.govuk-link--error {
  border-left: 5px solid $govuk-error-colour;
  padding-left: 10px;
  padding-right: 10px;
  color: $govuk-error-colour !important;
}

.govuk-summary-list--auto-widths .govuk-summary-list__key,
.govuk-summary-list--auto-widths .govuk-summary-list__value {
  width: auto;
}

.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--align-baseline {
  align-items: baseline;
}

.text-secondary {
  color: $govuk-secondary-text-colour;
}

.no-wrap-tablet {
  @include govuk-media-query($from: tablet ) {
    white-space: nowrap;
  }
}
.wrapper-action-link {
  max-width: 8rem;
  display: inline-block;
}
.wrapper-date-short {
  max-width: 9rem;
  display: inline-block;
}