{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{{ mojSideNavigation({
  label: 'Side navigation',
  classes: "govuk-!-padding-0",
  sections: [
      {
        heading: {
            text: 'Request a recall'
        },
        items: [{
          text: 'Find an offender',
          href: '/recall/search',
          active: currentPage == 'search'

        }, {
          text: 'Which active sentence',
          href: '/recall/sentence-breached',
          active: currentPage == 'sentence-breached'

        }, {
          text: 'Call PPCS for emergencies',
          href: '/recall/emergency',
          active: currentPage == 'emergency'

        }, {
            text: 'Index offence details',
            href: '/recall/index-offence',
            active: currentPage == 'index-offence'

        }, {
            text: 'How has the licence been breached?',
            href: '/recall/breach-reason',
            active: currentPage == 'breach-reason'

        }, {
            text: 'Vulnerability concerns',
            href: '/recall/vulnerable-situations',
            active: currentPage == 'vulnerable-situations'
        }, {
            text: 'Where is the offender now?',
            href: '/recall/location',
            active: currentPage == 'location'
        }, {
            text: 'Have you talked to the VLO?',
            href: '/recall/vlo',
            active: currentPage == 'vlo'
        }, {
            text: 'OASys risk profile',
            href: '/recall/oasys',
            active: currentPage == 'oasys'

        }, {
            text: 'How do you think they’ve been responding to supervision?',
            href: '/recall/supervision-response',
            active: currentPage == 'supervision-response'
        }, {
            text: 'What other measures have you tried before the recall request?',
            href: '/recall/other-measures',
            active: currentPage == 'other-measures'
        }, {
            text: 'What’s your recommendation?',
            href: '/recall/recommendation',
            active: currentPage == 'recommendation'
        }, {
            text: 'Previous convictions',
            href: '/recall/previous-convictions',
            active: currentPage == 'previous-convictions'
        }]
      }
  ]

}) }}
