<section class="document"
{%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="document__thumb">
    <a aria-hidden="true" tabindex="-1" href="{{ params.url }}">
      <svg class="document__image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
        <path fill="#b1b4b6" d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"></path>
      </svg>
    </a>
  </div>
  <div>
    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-font-weight-regular"><a href="{{ params.url }}" data-qa='{{ params.dataQaLink }}'><span class='govuk-visually-hidden'>Download the </span>{{ params.linkText }}</a></h2>
    <div class="govuk-body-s" data-qa='{{ params.dataQaFileName }}'>Filename: <span data-private>{{ params.fileName }}</span></div>
  </div>
</section>
