{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Add a note to the recall", errors) %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            <h1 class="govuk-heading-l">
                Add a note to the recall
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo, csrfToken) }}"
                  method="post" enctype="multipart/form-data">
                {{ govukInput({
                    name: "subject",
                    id: "subject",
                    label: {
                        text: "Subject",
                        classes: "govuk-label--m"
                    },
                    value: formValues.subject,
                    errorMessage: errorMessage(errors.subject)
                }) }}
                {{ govukTextarea({
                    name: "details",
                    id: "details",
                    label: {
                        text: "Details",
                        classes: "govuk-label--m"
                    },
                    value: formValues.details,
                    errorMessage: errorMessage(errors.details)
                }) }}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Upload document (optional)</h2>

                {{ govukFileUpload({
                    id: "fileName",
                    name: "fileName",
                    hint: {
                        text: 'The file must be a ' + allowedNoteFileTypeLabelList()
                    },
                    label: {
                        text: "Upload document (optional)",
                        classes: 'govuk-visually-hidden'
                    },
                    attributes: {
                        accept: allowedNoteFileExtensionList()
                    },
                    errorMessage: errorMessage(errors.fileName)
                }) }}
                {{ formSubmitButton({ label: 'Add note' }) }}
            </form>
        </div>
    </div>

{% endblock %}
