{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = makePageTitle("Recall assessed", errors) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Recall assessed for <span data-private>{{ recall.fullName }}</span>
                </h1>
            </div>
            <p class='govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-8'>
                <span data-private>{{ recall.fullName }}</span> has been recalled and their licence revoked.
            </p>
            <p class="govuk-body"><a href="/" class="govuk-button" role="button">Assess another recall</a> </p>
        </div>
    </div>
{% endblock %}
