{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = makePageTitle("How has the licence been breached?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("assess-decision", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            {{ pageHeadingCaption({ action: 'Assess a recall', name: recall.fullName }) }}
            <h1 class="govuk-heading-l">
                How has the licence been breached?
            </h1>
        </div>
        <div class="govuk-grid-column-full">
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% if recall.inCustodyAtBooking == true %}
                    <input type="hidden" name="inCustodyAtBooking" value="1" />
                {% endif %}
                {{ govukTextarea({
                    name: "licenceConditionsBreached",
                    id: "licenceConditionsBreached",
                    label: {
                        text: "Licence conditions breached",
                        classes: "govuk-label--m"
                    },
                    columns: 40,
                    hint: {
                        text: "Include each condition breached using the same numbering and wording as the licence"
                    },
                    value: formValues.licenceConditionsBreached,
                    errorMessage: errorMessage(errors.licenceConditionsBreached)
                }) }}
                {% set otherDetailHtml %}
                    {{ govukTextarea({
                        name: "reasonsForRecallOtherDetail",
                        id: "reasonsForRecallOtherDetail",
                        label: {
                            text: "Provide more detail",
                            classes: "govuk-label--s"
                        },
                        value: formValues.reasonsForRecallOtherDetail,
                        errorMessage: errorMessage(errors.reasonsForRecallOtherDetail)
                    }) }}
                {% endset %}
                {% if recall.reasonsForRecallOtherDetail %}
                    <input type='hidden' name='hasExistingReasonsForRecallOtherDetail' value='1' />
                {% endif %}
                {% if referenceData.reasonsForRecall %}
                    {{ govukCheckboxes({
                        id: "reasonsForRecall",
                        name: "reasonsForRecall",
                        fieldset: {
                            legend: {
                                text: "Reasons for recall",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "Select reasons that are closest to the licence conditions breached so they can be reported on"
                        },
                        items: checkboxItems(referenceData.reasonsForRecall, formValues.reasonsForRecall, {
                            OTHER: otherDetailHtml
                        }),
                        errorMessage: errorMessage(errors.reasonsForRecall)
                    })
                    }}
                {% endif %}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}
