{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Assess a recall - Recall stopped" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-panel govuk-panel--neutral govuk-!-margin-bottom-6">
                <h1 class="govuk-panel__title">
                    Recall stopped for {{ person.firstName }} {{ person.lastName }}
                </h1>
            </div>
            <p class="govuk-body">This recall has been removed from the assess a recall to-do list and will be shown as stopped in any reports.</p>
            <p class="govuk-body">If you disagree with the recall recommendation, contact:</p>
            <ul class='govuk-list govuk-list--bullet'>
                <li><span data-qa='managerName'>{{ referenceData.sensitiveInfo.manager.name }}</span> on <span data-qa='managerPhone'>{{ referenceData.sensitiveInfo.manager.phone }}</span> (between 9am and 5pm, Monday to Friday)</li>
                <li>a recall Team Leader if {{ referenceData.sensitiveInfo.manager.name }} isn't available</li>
            </ul>
            <div class="govuk-!-margin-top-8">
                <p class="govuk-body"><a href="/" class="govuk-button" role="button">Assess another recall</a> </p>
            </div>
        </div>
    </div>

{% endblock %}
