{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Recall assessed" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Recall assessed for {{ person.firstName }} {{ person.lastName }}
                </h1>
            </div>
            <span class='govuk-!-display-none' data-qa='recallId'>{{recall.recallId}}</span>
            <p class='govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-8'>
                {{ person.firstName }} {{ person.lastName }} has been recalled and their licence revoked.
            </p>
            <p class="govuk-body"><a href="/" class="govuk-button" role="button">Assess another recall</a> </p>
        </div>
    </div>
{% endblock %}
