{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Assess a recall - In which prison is the person?" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("assess-licence", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l"
                  data-qa="addRecallTypeCaption">Assess a recall for {{ recall.fullName }}</span>
            <form novalidate action="{{ makeUrl('assess-prison', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds-from-desktop">
                            {{ govukSelect({
                                id: "currentPrison",
                                name: "currentPrison",
                                label: {
                                    text: "Which prison is " + recall.fullName + " in?",
                                    classes: "govuk-label--l",
                                    isPageHeading: true
                                },
                                items: selectItems( filterActiveItems(referenceData.prisons), formValues.currentPrison, true),
                                errorMessage: errorMessage(errors.currentPrison)
                            }) }}
                        <div class="govuk-!-margin-top-8">
                            <button class="govuk-button" data-qa="continueButton">Continue</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ autocomplete({
        name: 'currentPrison',
        defaultValue: formValues.currentPrison,
        cspNonce: cspNonce
    })
    }}
{% endblock %}