{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Assess a recall" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l" data-qa='personName'>
                Assess a recall for {{ person.firstName }} {{ person.lastName }}
            </h1>

            <p class='govuk-body'>
                <a href="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/assess-decision" role='button' class="govuk-button" data-module="govuk-button"
                   data-qa="continueButton">
                    Make decision
                </a>
            </p>

            <h2 class='govuk-heading-m'>About the person</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='firstName'>
                        {{ person.firstName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Middle names
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='middleNames'>
                        {{ person.middleNames }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='lastName'>
                        {{ person.lastName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='dateOfBirth'>
                        {{ person.dateOfBirth | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Gender
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='gender'>
                        {{ person.gender }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CRO
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='croNumber'>
                        {{ person.croNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        PNC
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='pncNumber'>
                        {{ person.pncNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOMIS
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='nomsNumber'>
                        {{ person.nomsNumber }}
                    </dd>
                </div>
            </dl>
            {% if recall %}
            <h2 class='govuk-heading-m'>Recall</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Length of fixed recall
                </dt>
                <dd class="govuk-summary-list__value" data-qa='recallLength'>
                   {{ recall.recallLengthFormatted }} days
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date recall email was received
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='recallEmailReceivedDateTime'>
                        {{ recall.recallEmailReceivedDateTime | dateTime}}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Local police force
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='localPoliceForce'>
                        {{ recall.localPoliceForce }}
                    </dd>
                </div>
            </dl>


                <h2 class='govuk-heading-m'>Issues and needs</h2>
                <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Vulnerability issues and diversity needs
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <pre class='govuk-body' data-qa='vulnerabilityDiversityDetail'>{{ recall.vulnerabilityDiversityDetail }}</pre>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Suspected contraband issues
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <pre class='govuk-body' data-qa='contrabandDetail'>{{ recall.contrabandDetail }}</pre>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        MAPPA level
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='mappaLevel'>
                        {{ recall.mappaLevelFormatted }}
                    </dd>
                </div>
            </dl>

            {% endif %}

            <h2 class='govuk-heading-m'>Sentence, offence and release details</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentenceDate'>
                        {{ recall.sentenceDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence expiry date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentenceExpiryDate'>
                        {{ recall.sentenceExpiryDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Licence expiry date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='licenceExpiryDate'>
                        {{ recall.licenceExpiryDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Releasing prison
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='lastReleasePrison'>
                        {{ recall.lastReleasePrisonFormatted }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last release date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='lastReleaseDate'>
                        {{ recall.lastReleaseDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Length of sentence
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentenceLength'>
                        {% if recall.sentenceLength.years %}{{ recall.sentenceLength.years }} years {% endif %}{% if recall.sentenceLength.months %}{{ recall.sentenceLength.months }} months {% endif %}{% if recall.sentenceLength.days %}{{ recall.sentenceLength.days }} days{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Conditional release date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='conditionalReleaseDate'>
                        {{ recall.conditionalReleaseDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentencing court
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentencingCourt'>
                        {{ recall.sentencingCourt }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Index offence
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='indexOffence'>
                        {{ recall.indexOffence }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Booking number
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='bookingNumber'>
                        {{ recall.bookingNumber }}
                    </dd>
                </div>
            </dl>

            <h2 class='govuk-heading-m'>Probation officer</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationOfficerName'>
                        {{ recall.probationOfficerName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationOfficerEmail'>
                        {{ recall.probationOfficerEmail }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone number
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationOfficerPhoneNumber'>
                        {{ recall.probationOfficerPhoneNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Division
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationDivision'>
                        {{ recall.probationDivisionFormatted }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Assistant Chief Officer
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='authorisingAssistantChiefOfficer'>
                        {{ recall.authorisingAssistantChiefOfficer }}
                    </dd>
                </div>
            </dl>
            {% if recall.documents.length %}
            <h2 class='govuk-heading-m'>Documents</h2>

                {% for document in recall.documents %}
            <div class="govuk-form-group">
                {{ documentDownloadLink({
                    linkText: document.label,
                    url: document.url,
                    dataQa: 'uploadedDocument-' + document.category
                })
                }}
            </div>
            {% endfor %}
            {% endif %}

            {% if recall.agreeWithRecall %}
            <h2 class='govuk-heading-m'>Recall assessment</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Did band 4 agree with the recall recommendation?
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='agreeWithRecall'>
                        {% if recall.agreeWithRecall == 'YES' %}Yes{% else %}No{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Details on why band 4 agreed or disagreed
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <pre class='govuk-body' data-qa='agreeWithRecallDetail'>{{ recall.agreeWithRecallDetail }}</pre>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Licence conditions breached
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <pre class='govuk-body' data-qa='licenceConditionsBreached'>{{ recall.licenceConditionsBreached }}</pre>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reasons for recall
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class='govuk-list govuk-list--bullet'>
                        {% for reason in filterSelectedItems(referenceData.reasonsForRecall, recall.reasonsForRecall) %}
                            <li data-qa='reasonsForRecall-{{ reason.value }}'>{{ reason.text }}</li>
                        {% endfor %}
                        </ul>
                    </dd>
                </div>
                {% if recall.reasonsForRecallOtherDetail %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reasons for recall - other
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='reasonsForRecallOtherDetail'>
                            {{ recall.reasonsForRecallOtherDetail }}
                        </dd>
                    </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Current prison
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='currentPrison'>
                        {{ recall.currentPrisonFormatted }}
                    </dd>
                </div>
            </dl>
            {% endif %}

            {% if isDefined(recall.recallNotificationEmailSentDateTime) %}
                <h2 class='govuk-heading-m'>Create dossier</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Are there additional licence conditions?
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='additionalLicenceConditions'>
                            {% if recall.additionalLicenceConditions == true %}Yes{% else %}No{% endif %}
                        </dd>
                    </div>
                    {% if isDefined(recall.additionalLicenceConditionsDetail) %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Additional licence conditions
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <pre class='govuk-body' data-qa='additionalLicenceConditionsDetail'>{{ recall.additionalLicenceConditionsDetail }}</pre>
                        </dd>
                    </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Is {{ person.firstName }} {{ person.lastName }} being held under a different NOMIS number to the one on the licence?
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='differentNomsNumber'>
                            {% if recall.differentNomsNumber == true %}Yes{% else %}No{% endif %}
                        </dd>
                    </div>
                    {% if isDefined(recall.differentNomsNumberDetail) %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            What is the different NOMIS number?
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='differentNomsNumberDetail'>
                            {{ recall.differentNomsNumberDetail }}
                        </dd>
                    </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date/time that recall notification was sent by email
                        </dt>
                        <dd class="govuk-summary-list__value" data-qa='recallNotificationEmailSentDateTime'>
                            {{ recallNotificationEmailSentDateTime | dateTime }}
                        </dd>
                    </div>
                </dl>
            {% endif %}
        </div>
    </div>

{% endblock %}
