{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Assess a recall - Decision on recall recommendation" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("assess", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l" data-qa="addRecallTypeCaption">Assess a recall for {{ person.firstName }} {{ person.lastName }}</span>
            <form novalidate action="{{ formActionUrl('assess-decision', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {% set yesHtml %}
                    {{ govukTextarea({
                        name: "agreeWithRecallDetailYes",
                        id: "agreeWithRecallDetailYes",
                        label: {
                            text: "Provide more detail"
                        },
                        value: formValues.agreeWithRecallDetailYes,
                        errorMessage: errorMessage(errors.agreeWithRecallDetailYes)
                    }) }}
                {% endset -%}
                {% set noHtml %}
                    {{ govukTextarea({
                        name: "agreeWithRecallDetailNo",
                        id: "agreeWithRecallDetailNo",
                        label: {
                            text: "Provide more detail"
                        },
                        value: formValues.agreeWithRecallDetailNo ,
                        errorMessage: errorMessage(errors.agreeWithRecallDetailNo)
                    }) }}
                {% endset -%}
                {{ govukRadios({
                    idPrefix: "agreeWithRecall",
                    name: "agreeWithRecall",
                    fieldset: {
                        legend: {
                            html: "<span data-qa='recommended-recall-length-text'>Do you agree with the fixed term " + getReferenceDataItemLabel('recallLengths', recall.recallLength) + " day recall recommendation?</span>",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    items: [
                        {
                            value: "YES",
                            text: "Yes, proceed with the recommended fixed recall type",
                            checked: formValues.agreeWithRecall == 'YES',
                            conditional: {
                                html: yesHtml
                            }
                        },
                        {
                            value: "NO_STOP",
                            text: "No, stop the recall",
                            checked: formValues.agreeWithRecall == 'NO_STOP',
                            conditional: {
                                html: noHtml
                            }
                        }
                    ],
                    errorMessage: errorMessage(errors.agreeWithRecall)
                }) }}

                <div class="govuk-!-margin-top-4">
                    <button class="govuk-button" data-qa="continueButton">Continue</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
