{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Assess a recall - Download recall notification" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("assess-prison", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l" data-qa="addRecallTypeCaption">Assess a recall for {{ recall.fullName }}</span>
            <h1 class='govuk-heading-l'>Download recall notification</h1>

            <p class='govuk-body-l'>Review the document and check the information is correct.</p>
            {{ documentDownloadLink({
                linkText: "Recall notification",
                fileName: getGeneratedDocFileName({
                    firstName: recall.firstName,
                    lastName: recall.lastName,
                    bookingNumber: recall.bookingNumber,
                    docCategory: 'RECALL_NOTIFICATION'
                }),
                url: getGeneratedDocUrlPath({
                    recallId: recall.recallId,
                    nomsNumber: recall.nomsNumber,
                    docCategory: 'RECALL_NOTIFICATION'
                }),
                dataQaLink: 'getRecallNotificationLink',
                dataQaFileName: 'getRecallNotificationFileName'
            })
            }}

            <div class="govuk-!-margin-top-8">
                <a class="govuk-button" data-qa="continueButton" href="/persons/{{recall.nomsNumber}}/recalls/{{ recall.recallId}}/assess-email">Continue</a>
            </div>
        </div>
    </div>

{% endblock %}
