{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Assess a recall" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l" data-qa='personName'>
                {{ person.firstName }} {{ person.lastName }}
            </h1>
            <h2 class='govuk-heading-m'>About the person</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.firstName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Middle names
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.middleNames }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.lastName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.dateOfBirth | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.gender }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CRO
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.croNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        PNC
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.pncNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        NOMIS
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ person.nomsNumber }}
                    </dd>
                </div>
            </dl>
            {% if recall %}
            <h2 class='govuk-heading-m'>Recall</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Length of fixed recall
                </dt>
                <dd class="govuk-summary-list__value" data-qa='recallLength'>
                   {{ recall.recallLengthFormatted }}
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date recall email was received
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='recallEmailReceivedDateTime'>
                        {{ recall.recallEmailReceivedDateTime | dateTime}}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Local police station
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='localPoliceService'>
                        {{ recall.localPoliceService }}
                    </dd>
                </div>
            </dl>


                <h2 class='govuk-heading-m'>Issues and needs</h2>
                <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Vulnerability issues and diversity needs
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='vulnerabilityDiversityDetail'>
                        {{ recall.vulnerabilityDiversityDetail }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Suspected contraband issues
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='contrabandDetail'>
                        {{ recall.contrabandDetail }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        MAPPA level
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='mappaLevel'>
                        {{ recall.mappaLevelFormatted }}
                    </dd>
                </div>
            </dl>

            {% endif %}

            <h2 class='govuk-heading-m'>Sentence, offence and release details</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentenceDate'>
                        {{ recall.sentenceDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence expiry date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentenceExpiryDate'>
                        {{ recall.sentenceExpiryDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Licence expiry date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='licenceExpiryDate'>
                        {{ recall.licenceExpiryDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Releasing prison
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='lastReleasePrison'>
                        {{ recall.lastReleasePrison }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last release date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='lastReleaseDate'>
                        {{ recall.lastReleaseDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Length of sentence
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentenceLength'>
                        {% if recall.sentenceLength.years %}{{ recall.sentenceLength.years }} years {% endif %}{% if recall.sentenceLength.months %}{{ recall.sentenceLength.months }} months {% endif %}{% if recall.sentenceLength.days %}{{ recall.sentenceLength.days }} days{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Conditional release date
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='conditionalReleaseDate'>
                        {{ recall.conditionalReleaseDate | dateGov }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentencing court
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='sentencingCourt'>
                        {{ recall.sentencingCourt }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Index offence
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='indexOffence'>
                        {{ recall.indexOffence }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Booking number
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='bookingNumber'>
                        {{ recall.bookingNumber }}
                    </dd>
                </div>
            </dl>

            <h2 class='govuk-heading-m'>Probation officer</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationOfficerName'>
                        {{ recall.probationOfficerName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationOfficerEmail'>
                        {{ recall.probationOfficerEmail }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone number
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationOfficerPhoneNumber'>
                        {{ recall.probationOfficerPhoneNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Division
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='probationDivision'>
                        {{ recall.probationDivision }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Assistant Chief Officer
                    </dt>
                    <dd class="govuk-summary-list__value" data-qa='authorisingAssistantChiefOfficer'>
                        {{ recall.authorisingAssistantChiefOfficer }}
                    </dd>
                </div>
            </dl>
            {% if recall.documents.length %}
            <h2 class='govuk-heading-m'>Uploaded documents</h2>
            <dl class="govuk-summary-list">
            {% for document in recall.documents %}
                    <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ document.label }}
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href='/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/documents/{{ document.documentId }}' data-qa='uploadedDocument-{{ document.category }}'>Download PDF</a>
                </dd>
                    </div>
            {% endfor %}
            </dl>
            {% endif %}

            <p class='govuk-body'>
                <a href="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/assess-decision" role='button' class="govuk-button" data-module="govuk-button"
                   data-qa="continueButton">
                    Assess this recall
                </a>
            </p>
        </div>
    </div>

{% endblock %}
