{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = makePageTitle("Download recall notification", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrlAssessDownload({
            inCustodyAtBooking: recall.inCustodyAtBooking,
            inCustodyAtAssessment: recall.inCustodyAtAssessment,
            urlInfo: urlInfo
        })
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            {{ pageHeadingCaption({ action: 'Assess a recall', name: recall.fullName }) }}
            <h1 class='govuk-heading-l'>Download recall notification</h1>

            <p class='govuk-body-l'>Review the document and check the information is correct.</p>
            <div{% if errors.error_RECALL_NOTIFICATION %} id='downloadLinkError'{% endif %}>
            {{ documentDownloadLink({
                linkText: "Recall notification",
                fileName: getGeneratedDocFileName({
                    recall: recall,
                    category: 'RECALL_NOTIFICATION'
                }),
                url: '/recalls/' + recall.recallId + '/documents/create?category=RECALL_NOTIFICATION&pageSuffix=assess-download',
                dataQaLink: 'getRecallNotificationLink',
                dataQaFileName: 'getRecallNotificationFileName'
            })
            }}
            </div>

            <div class="govuk-!-margin-top-8">
                <a class="govuk-button" data-qa="continueButton" href="/recalls/{{ recall.recallId}}/assess-email">Continue</a>
            </div>
        </div>
    </div>

{% endblock %}
