
{% extends "../partials/layout.njk" %}

{% set heading = ("Generated document" if documentHistory.type == 'generated' else ("Uploaded email" if documentHistory.type == 'email' else "Uploaded document")) +  " change history" %}

{% set pageTitle = makePageTitle(heading, errors) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                {{ heading }}
            </h1>
            {% if documentHistory.items %}
            {% for record in documentHistory.items %}
            {% set documentId = record.emailId if record.emailId else record.documentId %}
            <h2 class="govuk-heading-m{% if documentHistory.type != 'email' %} govuk-visually-hidden{% endif %}" data-qa='document-{{ documentId }}-heading'>{% if record.isMissingRecord == true %}Missing document - {% endif %}{{ documentHistory.label }}{% if record.version > 1 %} (version {{ record.version }}){% endif %}</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-4 govuk-!-width-two-thirds_" data-qa='{% if record.isMissingRecord == true %}missing{% else %}uploaded{% endif %}-{{ record.version }}-row'>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{% if documentHistory.type == 'email' %}Email{% else %}Document{% endif %}</dt>
                    <dd class="govuk-summary-list__value">
                        {% if record.isMissingRecord == true %}
                            <span data-qa='missingDocumentsLabel'>Missing</span>
                        {% else %}
                            <a href="{{ record.url }}" class="govuk-link govuk-!-margin-right-2" target="_blank" rel="noopener" data-qa='document-{{ documentId }}-link'>
                                {{ record.fileName }}
                            </a>
                            {% if record.version > 1 %}
                            <span class="grey-text" data-qa='document-{{ documentId }}-version'>(version {{ record.version }})</span>
                            {% endif %}
                        {% endif %}
                    </dd>
                </div>
                {% if record.details %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">Details</dt>
                    <dd class="govuk-summary-list__value" data-qa='document-{{ documentId }}-details'>{{ record.details }}</dd>
                </div>
                {% endif %}
                {% if record.isMissingRecord == true %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-third">Email uploaded</dt>
                        <dd class="govuk-summary-list__value" data-qa='document-{{ documentId }}-email'>
                            <a href='{{ record.url }}' class='govuk-link' data-qa='missingDocumentsEmail' download>{{ record.fileName }}</a>
                        </dd>
                    </div>
                {% endif %}
            </dl>
            <p class="govuk-!-margin-bottom-9 govuk-!-margin-top-0 govuk-body-s grey-text" data-qa='document-{{ documentId }}-uploaded-by'>
                {% if documentHistory.type == 'generated' %}Created{% elseif record.isMissingRecord == true %}Noted{% else %}Uploaded{% endif %} by {{ record.createdByUserName}} on {{ record.createdDateTime | dateTime }}
            </p>
            {% endfor %}
            {% else %}
            <p class='govuk-body'>No history for the {{ formatDocLabel(documentHistory.category) }}.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
