{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Change history", errors) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Change history
            </h1>

            {% set informationEnteredHtml %}
                <table class="govuk-table" id="table-info-entered" data-module="moj-sortable-table" data-qa='informationEntered'>
                    <caption class="govuk-table__caption govuk-table__caption--m">Information entered</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" aria-sort="ascending">Field</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Date and time</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">User</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% for field in fieldsHistory %}
                        <tr class="govuk-table__row" data-qa='{{ field.id }}'>
                            <td class="govuk-table__cell" data-sort-value='{{ field.label }}' data-qa='label-{{ field.id }}'>
                                {{ field.label }}
                            </td>
                            <td class="govuk-table__cell" data-sort-value='{{ field.updatedDateTime }}' data-qa='updatedDateTime-{{ field.id }}'>
                                {{ field.updatedDateTime | dateTime }}
                            </td>
                            <td class="govuk-table__cell" data-sort-value='{{ field.updatedByUserName }}' data-qa='updatedByUserName-{{ field.id }}' data-private>
                                {{ field.updatedByUserName }}
                            </td>
                            <td class="govuk-table__cell" data-qa='action'>
                                {% if field.hasHistory %}
                                    {% if field.fieldType == 'UPLOADED_EMAIL' %}
                                    <a href='{{ makeUrl('change-history/document?category=' + field.documentCategory, { basePath: urlInfo.basePath }) }}' data-qa='viewHistory-{{ field.id }}'>
                                        View history<span class="govuk-visually-hidden"> for {{ field.label }}</span>
                                    </a>
                                    {% else %}
                                    <a href='{{ makeUrl('change-history/field?fieldName=' + field.id + '&fieldPath=' + field.fieldPath, { basePath: urlInfo.basePath }) }}' data-qa='viewHistory-{{ field.id }}'>
                                        View history<span class="govuk-visually-hidden"> for {{ field.label }}</span>
                                    </a>
                                    {% endif %}
                                {% else %}
                                    <span class='govuk-body text-secondary'>Not provided</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script nonce='{{ cspNonce }}'>
                  new MOJFrontend.SortableTable({
                    table: $('#table-info-entered')[0]
                  });
                </script>
            {% endset -%}

            {% set documentsHtml %}
             <h2 class="govuk-heading-l">
                Documents
            </h2>

            {% if recall.documentsUploaded.length %}
            <table class="govuk-table" id="table-uploaded" data-module="moj-sortable-table" data-qa='uploadedDocuments'>
                <caption class="govuk-table__caption govuk-table__caption--m">Uploaded</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third" aria-sort="ascending">Document</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Date and time</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">User</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for document in sortList(recall.documentsUploaded, 'standardFileName') %}
                <tr class="govuk-table__row" data-qa='{{ document.category }}'>
                    <td class="govuk-table__cell" data-sort-value='{{ document.standardFileName }}' data-qa='fileName'>
                        {%  include '../partials/uploadedDocumentLink.njk' %}
                    </td>
                    <td class="govuk-table__cell" data-sort-value='{{ isoDateToMillis(document.createdDateTime) }}' data-qa='createdDateTime'>{{ document.createdDateTime | dateTime }}</td>
                    <td class="govuk-table__cell" data-qa='createdByUserName' data-private>{{ document.createdByUserName }}</td>
                    <td class="govuk-table__cell" data-qa='action'>
                        {% if document.hasHistory %}
                        <a href='{{ makeUrl('change-history/document?category=' + document.category, { basePath: urlInfo.basePath }) }}' data-qa='viewHistory-{{ document.category }}'>
                            View history<span class="govuk-visually-hidden"> for {{ document.standardFileName }}</span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <script nonce='{{ cspNonce }}'>
              new MOJFrontend.SortableTable({
                table: $('#table-uploaded')[0]
              });
            </script>
            {% else %}
            <h2 class="govuk-heading-m">Uploaded</h2>
            <p class='govuk-body'>No documents</p>
            {% endif %}

            {% set generatedDocs = sortList(objectToArray(recall.documentsGenerated), 'fileName') %}
            {% if generatedDocs.length %}
                <table class="govuk-table" id="table-generated" data-module="moj-sortable-table" data-qa='generatedDocuments'>
                    <caption class="govuk-table__caption govuk-table__caption--m">Generated</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-third" aria-sort="ascending">Document</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Date and time</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">User</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% for document in generatedDocs %}
                        <tr class="govuk-table__row" data-qa='{{ document.category }}'>
                            <td class="govuk-table__cell" data-sort-value='{{ document.fileName }}' data-qa='fileName'>
                                <a class='govuk-link' href='{{ document.url }}' download data-qa='generatedDocument-{{ document.category }}' data-private>{{ document.fileName }}</a>
                                {% if document.version > 1 %} (<span data-qa='generatedDocument-{{ document.category }}-version'>version {{ document.version }}</span>) {% endif %}
                            </td>
                            <td class="govuk-table__cell" data-sort-value='{{ isoDateToMillis(document.createdDateTime) }}' data-qa='createdDateTime'>{{ document.createdDateTime | dateTime }}</td>
                            <td class="govuk-table__cell" data-qa='createdByUserName' data-private>{{ document.createdByUserName }}</td>
                            <td class="govuk-table__cell" data-qa='action'>
                                {% if document.version > 1 %}
                                    <a href='{{ makeUrl('change-history/document?category=' + document.category, { basePath: urlInfo.basePath }) }}' data-qa='viewHistory-{{ document.category }}'>View history<span class="govuk-visually-hidden"> for {{ document.label }}</span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script nonce='{{ cspNonce }}'>
                  new MOJFrontend.SortableTable({
                    table: $('#table-generated')[0]
                  });
                </script>
            {% else %}
                <h2 class="govuk-heading-m">Generated</h2>
                <p class='govuk-body'>No documents</p>
            {% endif %}

            {% endset -%}
            {{ govukTabs({
                items: [
                    {
                        label: "Information entered",
                        id: "information-entered",
                        panel: {
                        html: informationEnteredHtml
                    }
                    },
                    {
                        label: "Documents",
                        id: "documents",
                        panel: {
                        html: documentsHtml
                    }
                    }
                ]
            }) }}
        </div>
    </div>
{% endblock %}
