{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Check and create the reasons for recall document" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("dossier-letter", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-l" data-qa="createDossierCaption">Create a dossier for {{ recall.fullName }}</span>
            <h1 class='govuk-heading-l'>Check and create the reasons for recall document</h1>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
                        Name
                    </dt>
                    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='name'>
                        {{ recall.fullName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
                        NOMIS
                    </dt>
                    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='nomsNumber'>
                        {{ recall.nomsNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
                        Booking number
                    </dt>
                    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='bookingNumber'>
                        {{ recall.bookingNumber }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
                        Licence conditions breached
                    </dt>
                    <dd class=" govuk-summary-list__value govuk-!-width-one-half">
                        <pre class='govuk-body' data-qa='licenceConditionsBreached'>{{ recall.licenceConditionsBreached }}</pre>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
                        Recall type
                    </dt>
                    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='recallType'>
                        {% if recall.recallType === 'FIXED' %}Fixed term{% elseif recall.recallType === 'STANDARD' %}Standard{% endif %}
                    </dd>
                </div>
                {% if recall.recallType === 'FIXED' %}
                <div class="govuk-summary-list__row">
                    <dt class=" govuk-summary-list__key govuk-!-width-one-half">
                        Recall length
                    </dt>
                    <dd class=" govuk-summary-list__value govuk-!-width-one-half" data-qa='recallLength'>
                        {{ getReferenceDataItemLabel('recallLengths', recall.recallLength) }} days
                    </dd>
                </div>
                {% endif %}
            </dl>

            <div class="govuk-!-margin-top-4">
                <a href='/persons/{{recall.nomsNumber}}/recalls/{{recall.recallId}}/dossier-download' data-qa='continueButton' class="govuk-button">Continue</a>
            </div>
        </div>
    </div>

{% endblock %}
