{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Email the dossier and letter" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/dossier-download"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l"
                  data-qa="addRecallTypeCaption">Create a dossier for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class='govuk-heading-l'>Email the dossier and letter</h1>
            <p>You must now email the dossier and letter you've downloaded to the:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>prison</li>
                <li>probation officer and their ACO or line manager</li>
            </ul>
            {{ govukWarningText({
                text: "You must email the dossier and letter using Microsoft Outlook",
                iconFallbackText: "Warning"
            }) }}

            <div class="govuk-!-margin-top-4">
                <form novalidate action="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/dossier-email?_csrf={{ csrfToken }}"
                      method="post" enctype="multipart/form-data">
                    {% set emailConfirmHtml %}
                        {{ govukDateInput({
                            name: 'dossierEmailSentDate',
                            id: 'dossierEmailSentDate',
                            fieldset: {
                                legend: {
                                    text: 'When did you send the email?',
                                    classes: 'govuk-fieldset__legend--m'
                                }
                            },
                            hint: {
                                text: 'For example, 23 5 2021'
                            },
                            items: dateTimeItems("dossierEmailSentDate", formValues.dossierEmailSentDateParts, false),
                            errorMessage: errorMessage(errors.dossierEmailSentDate)
                        }) }}
                        {{ govukFileUpload({
                            id: "dossierEmailFileName",
                            name: "dossierEmailFileName",
                            label: {
                                text: "Upload the email",
                                classes: 'govuk-label--m'
                            },
                            attributes: {
                                accept: allowedEmailFileExtensionList()
                            },
                            errorMessage: errorMessage(errors.dossierEmailFileName)
                        }) }}

                    {% endset -%}

                    {{ govukCheckboxes({
                        idPrefix: "confirmDossierEmailSent",
                        name: "confirmDossierEmailSent",
                        fieldset: {
                            legend: {
                                text: "I have sent the email to all recipients",
                                classes: "govuk-visually-hidden"
                            }
                        },
                        items: [
                            {
                                value: "YES",
                                text: "I have sent the email to all recipients",
                                conditional: {
                                html: emailConfirmHtml
                            },
                                checked: true if formValues.confirmDossierEmailSent == 'YES'
                            }
                        ],
                        errorMessage: errorMessage(errors.confirmDossierEmailSent)
                    }) }}
                    <button class="govuk-button" data-qa="continueButton">Complete dossier creation</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
