{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Download the dossier and letter" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/dossier-check"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l" data-qa="createDossierCaption">Create a dossier for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class='govuk-heading-l'>Download the dossier and letter</h1>
            <form novalidate action="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/dossier-download" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <p class="govuk-body-l">Review the documents and check the information is correct.</p>

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                {{ documentDownloadLink({
                    linkText: "Dossier",
                    url: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/documents/dossier",
                    dataQa: 'getDossierLink'
                })
                }}
            </div>
            <div class="govuk-form-group govuk-!-margin-bottom-8">
                {{ documentDownloadLink({
                    linkText: "Letter to prison",
                    url: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/documents/letter",
                    dataQa: 'getLetterLink'
                })
                }}
            </div>

                <div class="govuk-form-group govuk-!-margin-bottom-8">
            {{ govukCheckboxes({
                idPrefix: "hasDossierBeenChecked",
                name: "hasDossierBeenChecked",
                fieldset: {
                    legend: {
                        text: "I have checked the dossier",
                        classes: "govuk-visually-hidden"
                    }
                },
                items: [
                    {
                        value: "YES",
                        text: "I have checked the information in the dossier and letter is correct",
                        checked: true if formValues.hasDossierBeenChecked == 'YES'
                    }
                ],
                errorMessage: {
                    text: "Confirm you've checked the dossier and letter"
                } if errors.hasDossierBeenChecked else undefined
            }) }}
                </div>
            <div class="govuk-!-margin-bottom-8">
                <button class="govuk-button" data-qa="continueButton">Continue</button>
            </div>

            </form>
        </div>
    </div>

{% endblock %}
