{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Create a dossier for recall" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-xl">
                Create a dossier for {{ recall.fullName }} recall
                {% include '../partials/recallInformationHeading.njk' %}
            </h1>
            <div class="govuk-body-l" data-qa="dossierTargetDate">{{ recall.dossierDueText }} {{ recall.dossierTargetDate | dateTime }} </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/personDetails.njk' %}
            {% include '../partials/recallDetails.njk' %}
            {% include '../partials/custodyDetails.njk' %}
            {% include '../partials/issuesDetails.njk' %}
            {% include '../partials/sentenceDetails.njk' %}
            {% include '../partials/probationDetails.njk' %}
            {% include '../partials/revocationOrder.njk' %}
            {% include '../partials/uploadedDocuments.njk' %}
            {% include '../partials/missingDocuments.njk' %}
            <div class="govuk-form-group govuk-!-margin-top-4" >
                {% if recall.requiredDocsMissing.length %}
                    <div class="govuk-inset-text govuk-!-margin-bottom-9">You cannot create a dossier without the
                        {{ listDocumentLabels(recall.requiredDocsMissing) }} document{% if recall.requiredDocsMissing.length > 1 %}s{% endif %}.
                    </div>
                    <button class="govuk-button govuk-button--disabled" disabled data-qa='createDossierDisabled'>
                        Create dossier
                    </button>
                {% else %}
                <a class="govuk-button" data-qa='continueButton' href='/persons/{{ recall.nomsNumber }}/recalls/{{ recall.recallId }}/dossier-letter'>
                    Create dossier
                </a>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
