{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = makePageTitle("In which prison is the person?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("dossier-recall", urlInfo)
    }) }}
{% endblock %}

{% block content %}
    {%  set titlePrefix = "Create a dossier for " %}
    {% include '../partials/currentPrison.njk' %}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ autocomplete({
        name: 'currentPrison',
        defaultValue: formValues.currentPrison,
        cspNonce: cspNonce
    })
    }}
{% endblock %}