{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Create a dossier for recall", errors) %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/recallInfoConfirmation.njk' %}
            <h1 class="govuk-heading-xl">
                Create a dossier for <span data-private>{{ recall.fullName }}</span> recall
            </h1>
            {% set fromPage = 'dossier-recall' %}
            {% include '../partials/recallInformationHeading.njk' %}
            <div class="govuk-body-l" data-qa="dossierTargetDate">
                {{ dueDateShortLabel(recall.dossierTargetDate) }}
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/personDetails.njk' %}
            {% include '../partials/custodyDetails.njk' %}
            {% include '../partials/recallDetails.njk' %}
            {% include '../partials/issuesDetails.njk' %}
            {% include '../partials/sentenceDetails.njk' %}
            {% include '../partials/probationDetails.njk' %}
            {% include '../partials/revocationOrder.njk' %}
            {% include '../partials/uploadedDocuments.njk' %}
            {% include '../partials/missingDocuments.njk' %}
            {% include '../partials/rescinds.njk' %}
            {% include '../partials/notes.njk' %}
            <div class="govuk-form-group govuk-!-margin-top-4" >
                {% if recall.missingDocuments?.required.length %}
                    <div class="govuk-inset-text govuk-!-margin-bottom-9">You cannot create a dossier without the
                        {{ listDocumentLabels(recall.missingDocuments.required) }} document{% if recall.missingDocuments.required.length > 1 %}s{% endif %}.
                    </div>
                    <button class="govuk-button govuk-button--disabled" disabled data-qa='createDossierDisabled'>
                        Create dossier
                    </button>
                {% else %}
                <a class="govuk-button" data-qa='continueButton' href='/recalls/{{ recall.recallId }}/{% if recall.returnedToCustodyDateTime %}dossier-prison{% else %}dossier-letter{% endif %}'>
                    Create dossier
                </a>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
