{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = makePageTitle("Download the dossier and letter", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("dossier-check", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l" data-qa="createDossierCaption">Create a dossier for {{ recall.fullName }}</span>
            <h1 class='govuk-heading-l'>Download the dossier and letter</h1>
            <form novalidate action="{{ makeUrl('dossier-download', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <p class="govuk-body-l">Review the documents and check the information is correct.</p>

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                {{ documentDownloadLink({
                    linkText: "Dossier",
                    fileName: getGeneratedDocFileName({
                        recall: recall,
                        category: 'DOSSIER'
                    }),
                    url: '/recalls/' + recall.recallId + '/documents/create?category=DOSSIER',
                    dataQaLink: 'getDossierLink',
                    dataQaFileName: 'getDossierFileName'
                })
                }}
            </div>
            <div class="govuk-form-group govuk-!-margin-bottom-8">
                {{ documentDownloadLink({
                    linkText: "Letter to prison",
                    fileName: getGeneratedDocFileName({
                        recall: recall,
                        category: 'LETTER_TO_PRISON'
                    }),
                    url: '/recalls/' + recall.recallId + '/documents/create?category=LETTER_TO_PRISON',
                    dataQaLink: 'getLetterLink',
                    dataQaFileName: 'getLetterFileName'
                })
                }}
            </div>

                <div class="govuk-form-group govuk-!-margin-bottom-8">
            {{ govukCheckboxes({
                idPrefix: "hasDossierBeenChecked",
                name: "hasDossierBeenChecked",
                fieldset: {
                    legend: {
                        text: "I have checked the dossier",
                        classes: "govuk-visually-hidden"
                    }
                },
                items: [
                    {
                        value: "YES",
                        text: "I have checked the information in the dossier and letter is correct",
                        checked: true if formValues.hasDossierBeenChecked == 'YES'
                    }
                ],
                errorMessage: errorMessage(errors.hasDossierBeenChecked)
            }) }}
                </div>
            <div class="govuk-!-margin-bottom-8">
                <button class="govuk-button" data-qa="continueButton">Continue</button>
            </div>

            </form>
        </div>
    </div>

{% endblock %}
