{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Find a person" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">
                Find a person
            </h1>

            <form novalidate id="search" action="" method="get" class="govuk-!-margin-bottom-9 search-panel">
                <div class="moj-search">
                    {{ govukInput({
                        label: {
                            text: "NOMIS number",
                            classes: "govuk-label--m"
                        },
                        id: "nomsNumber",
                        name: "nomsNumber",
                        attributes: {
                            'data-qa': 'search-field'
                        },
                        hint: {
                            text: 'For example, A1234AA'
                        },
                        value: nomsNumber,
                        errorMessage: {
                            text: errors.nomsNumber.text
                        } if errors.nomsNumber else undefined
                    }) }}
                    <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button" data-qa="search">
                        Search
                    </button>
                </div>
            </form>

            {% if persons %}
                <h2 class="govuk-heading-m" data-qa="search-results-count">
                    {{ persons.length | personOrPeople }} found
                </h2>
                {% if persons.length > 0 %}
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">NOMIS</th>
                            <th scope="col" class="govuk-table__header">CRO</th>
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Date of birth</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body" data-qa="search-results">
                    {% for person in persons %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-qa="nomsNumber">{{ person.nomsNumber }}</td>
                            <td class="govuk-table__cell" data-qa="croNumber">{{ person.croNumber }}</td>
                            <td class="govuk-table__cell" data-qa="name">{{ person.firstName }} {{ person.lastName }}</td>
                            <td class="govuk-table__cell" data-qa="dateOfBirth">{{ person.dateOfBirth | dateTime }}</td>
                            <td class="govuk-table__cell">
                                <form novalidate action="/recalls/{{ person.nomsNumber }}" method="post">
                                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                                    <button class="govuk-link reset-button link-button" data-module="govuk-button" data-qa="bookRecallButton">
                                        Book a recall
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
