{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Find a person
            </h1>

            <form id="search" action="" method="get" class="govuk-!-margin-bottom-9 search-panel">
                <div class="moj-search">
                    <div class="govuk-form-group">
                        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                            NOMIS number
                        </label>
                        <input class="govuk-input moj-search__input " id="search-field" name="nomsNumber" type="search"
                               aria-describedby="search-hint" data-qa="search-field">
                    </div>
                    <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button" data-qa="search">
                        Search
                    </button>
                </div>
            </form>

            {% if persons %}
                <h2 class="govuk-heading-m" data-qa="search-results-count">
                    {{ persons.length | personOrPeople }} found
                </h2>
                {% if persons.length > 0 %}
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">NOMIS</th>
                            <th scope="col" class="govuk-table__header">CRO</th>
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Date of birth</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body" data-qa="search-results">
                    {% for person in persons %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-qa="nomsNumber">{{ person.nomsNumber }}</td>
                            <td class="govuk-table__cell" data-qa="croNumber">{{ person.croNumber }}</td>
                            <td class="govuk-table__cell" data-qa="name">{{ person.firstName }} {{ person.lastName }}</td>
                            <td class="govuk-table__cell" data-qa="dateOfBirth">{{ person.dateOfBirth | date }}</td>
                            <td class="govuk-table__cell">
                                <form action="/persons/{{ person.nomsNumber }}/recalls" method="post">
                                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                                    <button class="govuk-link reset-button link-button" data-module="govuk-button" data-qa="bookRecallButton">
                                        Book a recall
                                    </button>
                                </form>
                                {% if person.recalls.length %}
                                <div class='govuk-!-margin-top-4'>Existing recalls:</div>
                                {% for recall in person.recalls %}
                                    {% set recall = recall %}
                                    {% include "../partials/recallActionLink.njk" %}
                                {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
