{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Manage a recall for an offender on licence</h1>

            <p class="govuk-body">As a community offender manager, use this service to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>initiate a recall request for an offender on licence</li>
                <li>notify Public Protection Casework Section (PPCS) of the recall request</li>
                <li>track progress of a recall</li>
            </ul>
            <p class="govuk-body">By using it, you no longer need to fill in the Part A report.</p>


            <a href="/recall/search" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>

        </div>


    </div>

{% endblock %}
