{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                Find an offender
            </h1>

            <form id="search" action="" method="post" class="govuk-!-padding-5 govuk-!-margin-bottom-9 search-panel">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <div class="moj-search">
                    <div class="govuk-form-group">
                        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                            Enter a NOMIS number
                        </label>
                        <input class="govuk-input moj-search__input " id="search-field" name="nomsNumber" type="search"
                               aria-describedby="search-hint" data-qa="search-field">
                    </div>
                    <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button" data-qa="search">
                        Search
                    </button>
                </div>
            </form>

            {% if prisoners %}
                <h2 class="govuk-heading-m" data-qa="search-results-count">
                    {{ prisoners.length }} people found
                </h2>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">NOMIS number</th>
                        <th scope="col" class="govuk-table__header">First name</th>
                        <th scope="col" class="govuk-table__header">Surname</th>
                        <th scope="col" class="govuk-table__header">Date of birth</th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body" data-qa="search-results">
                    {% for prisoner in prisoners %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-qa="nomsNumber">{{ prisoner.nomsNumber }}</td>
                            <td class="govuk-table__cell" data-qa="firstName">{{ prisoner.firstName }}</td>
                            <td class="govuk-table__cell" data-qa="lastName">{{ prisoner.lastName }}</td>
                            <td class="govuk-table__cell" data-qa="dateOfBirth">{{ prisoner.dateOfBirth | date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
