{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Create a new " + formatDocLabel(recall.versionedGeneratedDoc.category) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("view-recall", urlInfo)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">
                Create a new {{ formatDocLabel(recall.versionedGeneratedDoc.category) }}
            </h1>
            <p class="govuk-body govuk-!-width-three-quarters">You can create a new {{ formatDocLabel(recall.versionedGeneratedDoc.category) }} if information in it has changed. The old version will be saved. You must explain why you need to create a new one.</p>
            {% if recall.versionedGeneratedDoc.documentId %}
            <div class="govuk-inset-text">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Current {{ formatDocLabel(recall.versionedGeneratedDoc.category) }}</h2>
                <p>
                    <a href="{{ recall.versionedGeneratedDoc.url }}" class="govuk-link" target="_blank" data-qa='previousVersionFileName'>{{ recall.versionedGeneratedDoc.fileName }}</a>
                    {% if recall.versionedGeneratedDoc.version > 1 %}(<span data-qa='previousVersionNumber'>version {{ recall.versionedGeneratedDoc.version }}</span>){% endif %}
                </p>
                <p class="govuk-body-s" data-qa='previousVersionCreatedDateTime'>Created on {{ recall.versionedGeneratedDoc.createdDateTime | dateTime }}</p>
            </div>
            {% endif %}
            <div class="govuk-form-group">
                <form novalidate action="{{ makeUrl('generated-document-version', urlInfo, csrfToken) }}" method="post">
                    <input type='hidden' name='category' value='{{ recall.versionedGeneratedDoc.category }}'>
                    {% if recall.documentsGenerated.DOSSIER %}
                    <input type='hidden' name='dossierExists' value='1'>
                    {% endif %}
                    {{ govukTextarea({
                        name: "details",
                        id: "details",
                        classes: "govuk-!-width-three-quarters",
                        label: {
                            text: "Provide more detail",
                            classes: "govuk-label--m"
                        },
                        value: formValues.details,
                        errorMessage: errorMessage(errors.details)
                    }) }}
                    {% if recall.versionedGeneratedDoc.category === 'REVOCATION_ORDER' %}
                        <p class='govuk-body' data-qa='textAdvisory'>We will also create {% if recall.documentsGenerated.DOSSIER %}new versions of the recall notification and dossier, as they both contain the revocation order.{% else %}a new version of the recall notification, as it contains the revocation order.{% endif %}</p>
                    {% endif %}
                    <div class="govuk-!-margin-top-8">
                        <button class="govuk-button" name="continue" value="continue" data-qa='continueButton'>Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
