{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Are there any issues or needs?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("prison-police", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>
            <h1 class="govuk-heading-l">
                Are there any issues or needs?
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ makeUrl('issues-needs', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8' id='vulnerabilityDiversityGroup'>
                    {% set vulnerabilityDiversityYesHtml %}
                        {{ govukTextarea({
                            id: "vulnerabilityDiversityDetail",
                            name: "vulnerabilityDiversityDetail",
                            label: {
                                text: "Provide more detail"
                            },
                            value: formValues.vulnerabilityDiversityDetail,
                            errorMessage: errorMessage(errors.vulnerabilityDiversityDetail)
                        }) }}
                    {% endset -%}
                    {% if recall.vulnerabilityDiversityDetail %}
                    <input type='hidden' name='hasExistingVulnerabilityDiversityDetail' value='1'>
                    {% endif %}
                    {{ govukRadios({
                        idPrefix: "vulnerabilityDiversity",
                        name: "vulnerabilityDiversity",
                        fieldset: {
                            legend: {
                                text: "Are there any vulnerability issues or diversity needs?",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        items: [
                            {
                                value: 'YES',
                                text: "Yes",
                                conditional: {
                                    html: vulnerabilityDiversityYesHtml
                                },
                                checked: true if formValues.vulnerabilityDiversity == 'YES'
                            },
                            {
                                value: 'NO',
                                text: "No",
                                checked: true if formValues.vulnerabilityDiversity == 'NO'
                            }
                        ],
                        errorMessage: errorMessage(errors.vulnerabilityDiversity)
                    }) }}
                </div>
                {% if recall.inCustodyAtBooking == false %}
                    <input type='hidden' name='notInCustody' value='1' />
                    <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8' id='arrestIssuesGroup'>
                    {% set arrestIssuesYesHtml %}
                        {{ govukTextarea({
                            id: "arrestIssuesDetail",
                            name: "arrestIssuesDetail",
                            label: {
                                text: "Provide more detail"
                            },
                            value: formValues.arrestIssuesDetail,
                            errorMessage: errorMessage(errors.arrestIssuesDetail)
                        }) }}
                    {% endset -%}
                    {% if recall.arrestIssuesDetail %}
                        <input type='hidden' name='hasExistingArrestIssuesDetail' value='1'>
                    {% endif %}
                    {{ govukRadios({
                        idPrefix: "arrestIssues",
                        name: "arrestIssues",
                        fieldset: {
                            legend: {
                                text: "Are there any arrest issues?",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        items: [
                            {
                                value: 'YES',
                                text: "Yes",
                                conditional: {
                                html: arrestIssuesYesHtml
                            },
                                checked: true if formValues.arrestIssues == 'YES'
                            },
                            {
                                value: 'NO',
                                text: "No",
                                checked: true if formValues.arrestIssues == 'NO'
                            }
                        ],
                        errorMessage: errorMessage(errors.arrestIssues)
                    }) }}
                </div>
                {% endif %}
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8' id='contrabandGroup'>
                    {% set contrabandYesHtml %}
                        {{ govukTextarea({
                            id: "contrabandDetail",
                            name: "contrabandDetail",
                            label: {
                                text: "Provide more detail"
                            },
                            value: formValues.contrabandDetail,
                            errorMessage: errorMessage(errors.contrabandDetail)
                        }) }}
                    {% endset -%}
                    {% if recall.contrabandDetail %}
                        <input type='hidden' name='hasExistingContrabandDetail' value='1'>
                    {% endif %}
                    {{ govukRadios({
                        idPrefix: "contraband",
                        name: "contraband",
                        fieldset: {
                            legend: {
                                text: "Do you think " + recall.fullName + " will bring contraband into prison?",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        items: [
                            {
                                value: 'YES',
                                text: "Yes",
                                conditional: {
                                    html: contrabandYesHtml
                                },
                                checked: true if formValues.contraband == 'YES'
                            },
                            {
                                value: 'NO',
                                text: "No",
                                checked: true if formValues.contraband == 'NO'
                            }
                        ],
                        errorMessage: errorMessage(errors.contraband)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8' id='mappaLevelGroup'>
                    {{ govukSelect({
                        id: "mappaLevel",
                        name: "mappaLevel",
                        label: {
                            text: "What is " + recall.fullName + "'s MAPPA level?",
                            classes: "govuk-label--m"
                        },
                        items: selectItems(
                            referenceData.mappaLevels
                        , formValues.mappaLevel),
                        errorMessage: errorMessage(errors.mappaLevel)
                    }) }}
                </div>
                <div>
                    <button class="govuk-button"
                       data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

