{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Recall recommendation" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l" data-qa="addRecallTypeCaption">Book a recall for {{ person.firstName }} {{ person.lastName }}</span>
        <h1 class="govuk-heading-l">
            Recall recommendation
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/recall-type" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            {{ govukRadios({
            idPrefix: "recallLength",
            name: "recallLength",
            fieldset: {
            legend: {
            text: "What is the recommended fixed recall length?",
            classes: "govuk-fieldset__legend--s"
            }
            },
            items: [
            {
            value: "FOURTEEN_DAYS",
            text: "14 days (under 12 months)"
            },
            {
            value: "TWENTY_EIGHT_DAYS",
            text: "28 days (12 months and over)"
            }
            ]
            }) }}
            <div class="govuk-!-margin-top-8">
                <button class="govuk-button" data-qa="continueButton">Continue</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
