{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Add an address", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("postcode-lookup", urlInfo)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% include '../partials/error-summary.njk' %}
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="recallId" value="{{ recall.recallId }}" />
                {{ pageHeadingCaption({ action: 'Book a recall', name: recall.fullName }) }}
                {% call govukFieldset({
                    legend: {
                        text: "Add an address",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                }) %}

                    {{ govukInput({
                        label: {
                            html: 'Address line 1',
                            classes: "govuk-label--m"
                        },
                        id: "line1",
                        name: "line1",
                        value: unsavedValues.line1,
                        errorMessage: errorMessage(errors.line1)
                    }) }}

                    {{ govukInput({
                        label: {
                            html: 'Address line 2 (optional)',
                            classes: "govuk-label--m"
                        },
                        id: "line2",
                        name: "line2",
                        value: unsavedValues.line2,
                        errorMessage: errorMessage(errors.line2)
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Town or city",
                            classes: "govuk-label--m"
                        },
                        classes: "govuk-!-width-two-thirds",
                        id: "town",
                        name: "town",
                        value: unsavedValues.town,
                        errorMessage: errorMessage(errors.town)
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Postcode (optional)",
                            classes: "govuk-label--m"
                        },
                        classes: "govuk-input--width-10",
                        id: "postcode",
                        name: "postcode",
                        value: unsavedValues.postcode,
                        errorMessage: errorMessage(errors.postcode)
                    }) }}
                {% endcall %}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>
{% endblock %}
