{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Select an address", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("postcode-lookup", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            {{ pageHeadingCaption({ action: 'Book a recall', name: recall.fullName }) }}
            <h1 class="govuk-heading-l">
                Select an address
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method='post'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <h2 class='govuk-heading-m'>Postcode</h2>
                <p class='govuk-body'><span class='govuk-!-font-weight-bold govuk-!-padding-right-2'>{{ postcode }}</span> <a href="{{ makeUrl('postcode-lookup', urlInfo) }}" class="govuk-link">Change <span class="govuk-visually-hidden">postcode</span></a></p>
                <input type='hidden' name='postcode' value='{{ postcode }}' />
                {{ govukSelect({
                    id: "addressUprn",
                    name: "addressUprn",
                    label: {
                        text: addresses.length + " address" + ("es" if addresses.length != 1 else ""),
                        classes: "govuk-label--m"
                    },
                    items: selectItems(addresses),
                    errorMessage: errorMessage(errors.addressUprn)
                }) }}
                <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
                    <a href="{{ makeUrl('address-manual', urlInfo) }}" class="govuk-link">I can't find the
                        address in the list</a>
                </p>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

