{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - recall confirmation" %}

{% block content %}

  <main class="app-container">
    <h1>Recall is booked</h1>
  </main>

{% endblock %}
