{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - What are the sentence, offence and release details?" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/request-received"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class="govuk-heading-l">
                What are the sentence, offence and release details?
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/last-release" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group'>
                    {{ govukDateInput({
                        name: 'sentenceDate',
                        id: 'sentenceDate',
                        fieldset: {
                            legend: {
                                text: 'Date of sentence',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("sentenceDate", formValues.sentenceDateParts),
                        errorMessage: {
                            text: 'Enter a valid date in the past'
                        } if errors.sentenceDate else undefined,
                        hint: {
                            text: 'For example, 23 5 2021'
                        }
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group'>
                    {{ govukDateInput({
                        name: 'licenceExpiryDate',
                        id: 'licenceExpiryDate',
                        fieldset: {
                            legend: {
                                text: 'Licence expiry date',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("licenceExpiryDate", formValues.licenceExpiryDateParts),
                        errorMessage: {
                            text: 'Enter a valid future date'
                        } if errors.licenceExpiryDate else undefined,
                        hint: {
                            text: 'For example, 23 5 2021'
                        }
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group'>
                    {{ govukDateInput({
                        name: 'sentenceExpiryDate',
                        id: 'sentenceExpiryDate',
                        fieldset: {
                            legend: {
                                text: 'Sentence expiry date',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("sentenceExpiryDate", formValues.sentenceExpiryDateParts),
                        errorMessage: {
                            text: 'Enter a valid future date'
                        } if errors.sentenceExpiryDate else undefined,
                        hint: {
                            text: 'For example, 23 5 2021'
                        }
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group'>
                    {{ govukDateInput({
                        name: 'sentenceLength',
                        id: 'sentenceLength',
                        fieldset: {
                            legend: {
                                text: 'Length of sentence',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: [
                            {
                                name: "sentenceLengthYears",
                                label: "Years",
                                classes: "govuk-input--width-2",
                                attributes: {
                                    maxlength: 2
                                },
                                value: formValues.sentenceLengthParts.years
                            },
                            {
                                name: "sentenceLengthMonths",
                                label: "Months",
                                classes: "govuk-input--width-2",
                                attributes: {
                                maxlength: 2
                            },
                                value: formValues.sentenceLengthParts.months
                            },
                            {
                                name: "sentenceLengthDays",
                                label: "Days",
                                classes: "govuk-input--width-2",
                                attributes: {
                                maxlength: 3
                            },
                                value: formValues.sentenceLengthParts.days
                            }
                        ],
                        errorMessage: {
                            text: 'Enter a valid sentence length'
                        } if errors.sentenceLength else undefined
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group'>
                    {{ govukInput({
                        label: {
                            text: "Sentencing court",
                            classes: "govuk-label--m"
                        },
                        id: "sentencingCourt",
                        name: "sentencingCourt",
                        value: formValues.sentencingCourt,
                        errorMessage: {
                            text: 'Enter a sentencing court'
                        } if errors.sentencingCourt else undefined
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group'>
                    {{ govukInput({
                        label: {
                            text: "Index offence",
                            classes: "govuk-label--m"
                        },
                        id: "indexOffence",
                        name: "indexOffence",
                        value: formValues.indexOffence,
                        errorMessage: {
                            text: 'Enter an index offence'
                        } if errors.indexOffence else undefined
                    }) }}
                </div>
                <h2 class="govuk-heading-m">
                    When was {{ person.firstName }} {{ person.lastName }} last released from prison?
                </h2>
                <div class='govuk-body govuk-form-group'>
                    {{ govukSelect({
                        label: {
                            text: "Releasing prison",
                            classes: "govuk-label--m"
                        },
                        id: "lastReleasePrison",
                        name: "lastReleasePrison",
                        items: selectItems( referenceData.prisonList, formValues.lastReleasePrison),
                        errorMessage: {
                            text: 'Enter a prison name'
                        } if errors.lastReleasePrison else undefined
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group'>
                    {{ govukInput({
                        label: {
                            text: "Booking number",
                            classes: "govuk-label--m"
                        },
                        id: "bookingNumber",
                        name: "bookingNumber",
                        value: formValues.bookingNumber,
                        classes: "govuk-input--width-10",
                        errorMessage: {
                            text: 'Enter a booking number'
                        } if errors.bookingNumber else undefined
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group'>
                    {{ govukDateInput({
                        name: 'lastReleaseDate',
                        id: 'lastReleaseDate',
                        fieldset: {
                            legend: {
                                text: 'Latest release date',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("lastReleaseDate", formValues.lastReleaseDateParts),
                        errorMessage: {
                            text: 'Enter a valid date in the past'
                        } if errors.lastReleaseDate else undefined,
                        hint: {
                            text: 'For example, 23 5 2021'
                        }
                    }) }}

                </div>
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                    {{ govukDateInput({
                        name: 'conditionalReleaseDate',
                        id: 'conditionalReleaseDate',
                        fieldset: {
                            legend: {
                                text: 'Conditional release date (optional)',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("conditionalReleaseDate", formValues.conditionalReleaseDateParts),
                        errorMessage: {
                            text: 'Enter a valid date'
                        } if errors.conditionalReleaseDate else undefined,
                        hint: {
                            text: 'For example, 23 5 2021'
                        }
                    }) }}
                </div>
                <div>
                    <button class="govuk-button"
                            data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ autocomplete({
        selectElement: '#lastReleasePrison',
        cspNonce: cspNonce
    })
    }}
{% endblock %}