{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - Upload documents" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("probation-officer", urlInfo),
        attributes: {
            'data-qa': 'backLinkUploadDocuments'
        }
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class="govuk-heading-l">
                Upload documents
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ formActionUrl('upload-documents', urlInfo, csrfToken) }}" method="post" enctype="multipart/form-data">
                <div class="govuk-form-group">
                    {% for documentType in recall.documentTypes %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ documentType.label }}{% if documentType.required != true %} (optional){% endif %}</h2>
                        {% if documentType.uploaded.length %}
                            <input type='hidden' name='{{ documentType.name}}' value='existingUpload'>
                            <div class='govuk-body govuk-!-margin-bottom-4'>
                                <ul class='govuk-list'>
                                {% for uploaded in documentType.uploaded %}
                                    <li><a href='{{ uploaded.url }}' target='_blank' class='govuk-link' data-qa='uploadedDocument-{{ documentType.name}}'>{{ uploaded.fileName }}</a></li>
                                {%endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {{ govukFileUpload({
                            id: documentType.name,
                            name: documentType.name,
                            label: {
                                text: 'Upload a ' + documentType.label,
                                classes: 'govuk-visually-hidden'
                            },
                            attributes: removeUndefinedFromObject({
                                accept: allowedDocumentFileExtensionList(),
                                multiple: true if documentType.multiple == true else undefined
                            }),
                            errorMessage: errorMessage(errors[documentType.name])
                        }) }}
                    {%  endfor %}
                </div>
                <button class="govuk-button" data-qa='continueButton'>
                    Continue
                    </button>
            </form>
        </div>
    </div>

{% endblock %}
