{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Missing documents", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("upload-documents", urlInfo),
        attributes: {
            'data-qa': 'backLinkUploadDocuments'
        }
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            {% if not urlInfo.fromPage %}<span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>{% endif %}
            <h1 class="govuk-heading-l">
                Missing documents
            </h1>
            <p class="govuk-body">You have not uploaded:</p>
            <ul class="govuk-list govuk-list--bullet">
                {% for doc in recall.requiredDocsMissing %}
                    <li>{{ doc.label }}</li>
                {% endfor %}
                {% for doc in recall.missingNotRequiredDocs %}
                    <li>{{ doc.label }}</li>
                {% endfor %}
            </ul>
            <p class="govuk-body">You must:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>explain why they are missing</li>
                <li>email probation asking for the missing files</li>
                <li>upload the email to probation</li>
            </ul>
            <div class="govuk-form-group">
                <form novalidate action="{{ makeUrl('missing-documents', urlInfo, csrfToken) }}" method="post"
                      enctype="multipart/form-data">
                    {{ govukTextarea({
                        name: "missingDocumentsDetail",
                        id: "missingDocumentsDetail",
                        label: {
                            text: "Provide more detail",
                            classes: "govuk-label--m"
                        },
                        value: formValues.missingDocumentsDetail,
                        errorMessage: errorMessage(errors.missingDocumentsDetail)
                    }) }}
                    <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Upload the email</h2>
                        {{ govukFileUpload({
                            id: "missingDocumentsEmailFileName",
                            name: "missingDocumentsEmailFileName",
                            label: {
                                text: "Upload the email",
                                classes: 'govuk-visually-hidden'
                            },
                            attributes: {
                                accept: allowedEmailFileExtensionList()
                            },
                            errorMessage: errorMessage(errors.missingDocumentsEmailFileName)
                        }) }}
                    </div>
                    <div class="govuk-!-margin-top-4">
                        <button class="govuk-button" name="continue" value="continue" data-qa='continueButton'>Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
