{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("What is the name of the local police force?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("last-release", urlInfo)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            {{ pageHeadingCaption({ action: 'Book a recall', name: recall.fullName }) }}
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-!-width-three-quarters'>
                    {{ govukSelect({
                        label: {
                            text: "What is the name of the local police force?",
                            classes: "govuk-label--l",
                            isPageHeading: true
                        },
                        id: "localPoliceForceId",
                        name: "localPoliceForceId",
                        items: selectItems( referenceData.policeForces, formValues.localPoliceForceId, true),
                        errorMessage: errorMessage(errors.localPoliceForceId)
                    }) }}
                </div>
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ autocomplete({
            name: 'localPoliceForceId',
            defaultValue: formValues.localPoliceForceId,
            cspNonce: cspNonce
        })
    }}
{% endblock %}
