{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Offender profile" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">Book a recall for {{ person.fullName }}</span>
        <h1 class="govuk-heading-l">
            Recall recommendation
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="/person/{{ person.nomsNumber }}/recalls/{{recall.recallId}}/recall-type" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {{ govukRadios({
            idPrefix: "recallTypeRecommended",
            name: "recallTypeRecommended",
            fieldset: {
            legend: {
            text: "What is the recommended fixed recall length?",
            classes: "govuk-fieldset__legend--s"
            }
            },
            items: [
            {
            value: "14 days",
            text: "14 days (under 12 months)"
            },
            {
            value: "28 days",
            text: "28 days (12 months and over)"
            }
            ]
            }) }}

            <div class="govuk-!-margin-top-8">
                <button class="govuk-button">Continue</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
