{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - Confirmation" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Recall booked for {{ person.firstName }} {{ person.lastName }}
                </h1>
                <span class='govuk-!-display-none' data-qa='recallId'>{{recall.recallId}}</span>
            </div>
            <div class='govuk-!-margin-top-8 govuk-!-margin-bottom-8'>
            <p class="govuk-body">This recall has been added to the awaiting assessment list for a band 4 caseworker to assess.</p>
            </div>
        <p class="govuk-body"><a href="/find-person" class="govuk-button" role="button">Book another recall</a> </p>
        </div>
    </div>

{% endblock %}

