{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Upload a new " + formatDocLabel(recall.versionedUpload.category), errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("check-answers", urlInfo)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">
                Upload a new {{ formatDocLabel(recall.versionedUpload.category) }}
            </h1>
            <p class="govuk-body">You can upload a new version of this document and the old version will be saved. You must explain why the document was changed.</p>
            {% if recall.versionedUpload.documentId %}
            <div class="govuk-inset-text">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Current {{ formatDocLabel(recall.versionedUpload.category) }}</h2>
                <p>
                    <a href="{{ recall.versionedUpload.url }}" class="govuk-link" target="_blank" rel="noopener" data-qa='previousVersionFileName'>{{ recall.versionedUpload.standardFileName }}</a>
                    (<span data-qa='previousVersionNumber'>version {{ recall.versionedUpload.version }}</span>)
                </p>
                <p class="govuk-body-s" data-qa='previousVersionUploadedDateTime'>Uploaded on {{ recall.versionedUpload.createdDateTime | dateTime }}</p>
            </div>
            {% endif %}
            <div class="govuk-form-group">
                <form novalidate action="{{ makeUrl('upload-document-version', urlInfo, csrfToken) }}" method="post"
                      enctype="multipart/form-data">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Upload new document</h2>
                        <input type='hidden' name='categoryName' value='{{ recall.versionedUpload.category }}'>
                        {{ govukFileUpload({
                            id: "document",
                            name: "document",
                            label: {
                                text: "Upload new document",
                                classes: 'govuk-visually-hidden'
                            },
                            attributes: {
                                accept: allowedDocumentFileExtensionList()
                            },
                            errorMessage: errorMessage(errors.document)
                        }) }}
                        {{ govukTextarea({
                            name: "details",
                            id: "details",
                            label: {
                                text: "Provide more detail",
                                classes: "govuk-label--m"
                            },
                            value: formValues.details,
                            errorMessage: errorMessage(errors.details)
                        }) }}
                    <div class="govuk-!-margin-top-4">
                        <button class="govuk-button" name="continue" value="continue" data-qa='continueButton'>Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
