{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("How does the name appeaar on the licence?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("/" if returnToRecallList else "/find-person?nomsNumber=" + recall.nomsNumber, urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            {{ pageHeadingCaption({ action: 'Book a recall', name: recall.fullName }) }}

            <form novalidate action="{{ makeUrl('licence-name', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>

                    {{ govukRadios({
                        idPrefix: "licenceNameCategory",
                        name: "licenceNameCategory",
                        fieldset: {
                            legend: {
                                html: "How does <span data-private>" + recall.fullName + "'s</span> name appear on the licence?",
                                classes: "govuk-fieldset__legend--l",
                                isPageHeading: true
                            }
                        },
                        items: [
                            {
                                value: "FIRST_LAST",
                                html: '<span data-private>' + recall.firstName + " " + recall.lastName + '</span>',
                                checked: formValues.licenceNameCategory == 'FIRST_LAST'
                            },
                            {
                                value: "FIRST_MIDDLE_LAST",
                                html: '<span data-private>' + recall.firstName + " " + recall.middleNames + " " + recall.lastName + '</span>',
                                checked: formValues.licenceNameCategory == 'FIRST_MIDDLE_LAST'
                            }
                        ],
                        errorMessage: errorMessage(errors.licenceNameCategory)
                    }) }}
                </div>
                <div>
                    <button class="govuk-button" data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

