{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Check the details before booking this recall", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("upload-documents", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            <h1 class="govuk-heading-l">
                Check the details before booking this recall
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/personDetails.njk' %}
            {% include '../partials/custodyDetails.njk' %}
            {% include '../partials/recallDetails.njk' %}
            {% include '../partials/sentenceDetails.njk' %}
            {% include '../partials/policeDetails.njk' %}
            {% include '../partials/issuesDetails.njk' %}
            {% include '../partials/probationDetails.njk' %}
            {% include '../partials/uploadedDocuments.njk' %}
            {% include '../partials/missingDocuments.njk' %}
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ formSubmitButton({ label: 'Complete booking'}) }}
            </form>
        </div>
    </div>

{% endblock %}
