{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - What are the sentence, offence and release details?" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("request-received", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class="govuk-heading-l">
                What are the sentence, offence and release details?
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ formActionUrl('last-release', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group' id='sentenceDateGroup'>
                    {{ govukDateInput({
                        name: 'sentenceDate',
                        id: 'sentenceDate',
                        fieldset: {
                            legend: {
                                text: 'Date of sentence',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("sentenceDate", formValues.sentenceDateParts),
                        errorMessage: errorMessage(errors.sentenceDate)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='licenceExpiryDateGroup'>
                    {{ govukDateInput({
                        name: 'licenceExpiryDate',
                        id: 'licenceExpiryDate',
                        fieldset: {
                            legend: {
                                text: 'Licence expiry date',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("licenceExpiryDate", formValues.licenceExpiryDateParts),
                        errorMessage: errorMessage(errors.licenceExpiryDate)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='sentenceExpiryDateGroup'>
                    {{ govukDateInput({
                        name: 'sentenceExpiryDate',
                        id: 'sentenceExpiryDate',
                        fieldset: {
                            legend: {
                                text: 'Sentence expiry date',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("sentenceExpiryDate", formValues.sentenceExpiryDateParts),
                        errorMessage: errorMessage(errors.sentenceExpiryDate)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='sentenceLengthGroup'>
                    {{ govukDateInput({
                        name: 'sentenceLength',
                        id: 'sentenceLength',
                        fieldset: {
                            legend: {
                                text: 'Length of sentence',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: [
                            {
                                name: "sentenceLengthYears",
                                label: "Years",
                                classes: "govuk-input--width-2",
                                attributes: {
                                    maxlength: 2
                                },
                                value: formValues.sentenceLengthParts.years
                            },
                            {
                                name: "sentenceLengthMonths",
                                label: "Months",
                                classes: "govuk-input--width-2",
                                attributes: {
                                maxlength: 2
                            },
                                value: formValues.sentenceLengthParts.months
                            },
                            {
                                name: "sentenceLengthDays",
                                label: "Days",
                                classes: "govuk-input--width-2",
                                attributes: {
                                maxlength: 3
                            },
                                value: formValues.sentenceLengthParts.days
                            }
                        ],
                        errorMessage: errorMessage(errors.sentenceLength)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='sentencingCourtGroup'>
                    {{ govukInput({
                        label: {
                            text: "Sentencing court",
                            classes: "govuk-label--m"
                        },
                        id: "sentencingCourt",
                        name: "sentencingCourt",
                        value: formValues.sentencingCourt,
                        errorMessage: errorMessage(errors.sentencingCourt)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='indexOffenceGroup'>
                    {{ govukInput({
                        label: {
                            text: "Index offence",
                            classes: "govuk-label--m"
                        },
                        id: "indexOffence",
                        name: "indexOffence",
                        value: formValues.indexOffence,
                        errorMessage: errorMessage(errors.indexOffence)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='lastReleasePrisonGroup'>
                    {{ govukSelect({
                        label: {
                            text: "Releasing prison",
                            classes: "govuk-label--m"
                        },
                        id: "lastReleasePrison",
                        name: "lastReleasePrison",
                        items: selectItems( referenceData.prisonList, formValues.lastReleasePrison, true),
                        errorMessage: errorMessage(errors.lastReleasePrison)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='bookingNumberGroup'>
                    {{ govukInput({
                        label: {
                            text: "Booking number",
                            classes: "govuk-label--m"
                        },
                        id: "bookingNumber",
                        name: "bookingNumber",
                        value: formValues.bookingNumber,
                        classes: "govuk-input--width-10",
                        errorMessage: errorMessage(errors.bookingNumber)
                    }) }}
                </div>
                <div class='govuk-body govuk-form-group' id='lastReleaseDateGroup'>
                    {{ govukDateInput({
                        name: 'lastReleaseDate',
                        id: 'lastReleaseDate',
                        fieldset: {
                            legend: {
                                text: 'Latest release date',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("lastReleaseDate", formValues.lastReleaseDateParts),
                        errorMessage: errorMessage(errors.lastReleaseDate)
                    }) }}

                </div>
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8' id='conditionalReleaseDateGroup'>
                    {{ govukDateInput({
                        name: 'conditionalReleaseDate',
                        id: 'conditionalReleaseDate',
                        fieldset: {
                            legend: {
                                text: 'Conditional release date (optional)',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("conditionalReleaseDate", formValues.conditionalReleaseDateParts),
                        errorMessage: errorMessage(errors.conditionalReleaseDate)
                    }) }}
                </div>
                <div>
                    <button class="govuk-button"
                            data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ autocomplete({
        name: 'lastReleasePrison',
        cspNonce: cspNonce
    })
    }}
{% endblock %}