{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Who recommended the recall?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("issues-needs", urlInfo)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>
            <h1 class="govuk-heading-l">
                Who recommended the recall?
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ makeUrl('probation-officer', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group' id='probationOfficerGroup'>
                    {{ govukInput({
                        label: {
                            text: "Name",
                            classes: "govuk-label--m"
                        },
                        id: "probationOfficerName",
                        name: "probationOfficerName",
                        value: formValues.probationOfficerName,
                        errorMessage: errorMessage(errors.probationOfficerName)
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Email address",
                            classes: "govuk-label--m"
                        },
                        id: "probationOfficerEmail",
                        name: "probationOfficerEmail",
                        type: 'email',
                        value: formValues.probationOfficerEmail,
                        errorMessage: errorMessage(errors.probationOfficerEmail)
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Phone number",
                            classes: "govuk-label--m"
                        },
                        id: "probationOfficerPhoneNumber",
                        name: "probationOfficerPhoneNumber",
                        type: 'tel',
                        classes: "govuk-input--width-20",
                        value: formValues.probationOfficerPhoneNumber,
                        errorMessage: errorMessage(errors.probationOfficerPhoneNumber)
                    }) }}
                </div>
                <div id='localDeliveryUnitGroup'>
                    {{ govukSelect({
                        id: "localDeliveryUnit",
                        name: "localDeliveryUnit",
                        label: {
                            text: "Local Delivery Unit (LDU)",
                            classes: "govuk-label--m"
                        },
                        items: selectItems(referenceData.localDeliveryUnits, formValues.localDeliveryUnit, true),
                        errorMessage: errorMessage(errors.localDeliveryUnit)
                    }) }}
                </div>
                <div id='authorisingAssistantChiefOfficerGroup'>
                    {{ govukInput({
                        label: {
                            text: "Assistant Chief Officer (ACO) that signed-off the recall",
                            classes: "govuk-label--m"
                        },
                        id: "authorisingAssistantChiefOfficer",
                        name: "authorisingAssistantChiefOfficer",
                        value: formValues.authorisingAssistantChiefOfficer,
                        errorMessage: errorMessage(errors.authorisingAssistantChiefOfficer)
                    }) }}
                </div>
                <div class='govuk-!-margin-top-8'>
                    <button class="govuk-button"
                       data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ autocomplete({
        name: 'localDeliveryUnit',
        defaultValue: formValues.localDeliveryUnit,
        cspNonce: cspNonce
    })
    }}
{% endblock %}