{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - To do" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">
                To do
            </h1>
            {% if results and results.length > 0 %}
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m" data-qa="recalls-list-heading">
                        <span class='govuk-!-font-size-36 govuk-!-font-weight-bold'>{{ results.length }}</span>
                        recall{% if results.length > 1 %}s{% endif %}
                    </caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        {% if env !== 'PRODUCTION' %}
                        <th scope="col" class="govuk-table__header">Recall ID</th>
                        {% endif %}
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Due</th>
                        <th scope="col" class="govuk-table__header">Assigned to</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body" data-qa="search-results">
                    {% for result in results %}
                        <tr class="govuk-table__row" data-qa='recall-id-{{ result.recall.recallId }}'>
                            {% if env !== 'PRODUCTION' %}
                            <td class="govuk-table__cell" data-qa="recallId">{{ result.recall.recallId }}</td>
                            {% endif %}
                            <td class="govuk-table__cell"
                                data-qa="name">{{ result.person.firstName }} {{ result.person.lastName }}</td>
                            <td class="govuk-table__cell" data-qa="dueDate">
                                {% if result.recall.status == 'RECALL_NOTIFICATION_ISSUED' %}
                                {{ dueDateLabel({ dueIsoDateTime: result.recall.dossierTargetDate, includeTime: false, shortFormat: true }) }}
                                {% elseif result.recall.status == 'DOSSIER_ISSUED' %}
                                {% elseif result.recall.recallEmailReceivedDateTime %}
                                {{ dueDateLabel({ dueIsoDateTime: result.recall.recallAssessmentDueDateTime, includeTime: true, shortFormat: true }) }}
                                {% endif %}
                            </td>
                            <td class="govuk-table__cell" data-qa="assignedTo">{{ result.recall.assigneeUserName }}</td>
                            <td class="govuk-table__cell">
                                {% set person = result.person %}
                                {% set recall = result.recall %}
                                {% include "../partials/recallActionLink.njk" %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
