{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("How does the name appear on the previous convictions sheet (pre-cons)?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("licence-name", urlInfo) if recall.middleNames else backLinkUrl("/" if returnToRecallList else "/find-person?nomsNumber=" + recall.nomsNumber, urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            {{ pageHeadingCaption({ action: 'Book a recall', name: recall.fullName }) }}

            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {% set yesDetailHtml %}
                    {{ govukInput({
                        name: "previousConvictionMainName",
                        id: "previousConvictionMainName",
                        label: {
                            text: "Provide the full name on the pre-cons"
                        },
                        value: formValues.previousConvictionMainName,
                        classes: "govuk-input--width-30",
                        errorMessage: errorMessage(errors.previousConvictionMainName)
                    }) }}
                {% endset -%}
                {% if recall.previousConvictionMainNameCategory == 'OTHER' and recall.previousConvictionMainName %}
                    <input type='hidden' name='hasExistingPreviousConvictionMainName' value='1' />
                {% endif %}
                {{ govukRadios({
                    idPrefix: "previousConvictionMainNameCategory",
                    name: "previousConvictionMainNameCategory",
                    fieldset: {
                        legend: {
                            html: "How does <span data-private>" + recall.fullName + "'s</span> name appear on the previous convictions sheet (pre-cons)?",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: true
                        }
                    },
                    hint: {
                        text: 'Check the forename(s) and surname on the pre-cons'
                    },
                    items: [
                        {
                            value: "FIRST_LAST",
                            html: '<span data-private>' + recall.firstName + " " + recall.lastName + '</span>',
                            checked: formValues.previousConvictionMainNameCategory == 'FIRST_LAST'
                        },
                        {
                            value: "FIRST_MIDDLE_LAST",
                            html: '<span data-private>' + recall.firstName + " " + recall.middleNames + " " + recall.lastName + '</span>',
                            checked: formValues.previousConvictionMainNameCategory == 'FIRST_MIDDLE_LAST'
                        } if recall.middleNames else undefined,
                        {
                            value: "OTHER",
                            text: "Other name",
                            checked: formValues.previousConvictionMainNameCategory == 'OTHER',
                            conditional: {
                            html: yesDetailHtml
                        }
                        }
                    ],
                    errorMessage: errorMessage(errors.previousConvictionMainNameCategory)
                }) }}
                {{ formSubmitButton() }}
            </form>
        </div>
    </div>

{% endblock %}

