{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - How does the name appear on the licence?" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("/find-person?nomsNumber=" + recall.nomsNumber, urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>

            <form novalidate action="{{ makeUrl('licence-name', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>

                    {% set yesDetailHtml %}
                        {{ govukInput({
                            name: "licenceName",
                            id: "licenceName",
                            label: {
                                text: "What is the main name?"
                            },
                            value: formValues.licenceName,
                            classes: "govuk-input--width-30",
                            errorMessage: errorMessage(errors.licenceName)
                        }) }}
                    {% endset -%}
                    {{ govukRadios({
                        idPrefix: "licenceNameCategory",
                        name: "licenceNameCategory",
                        fieldset: {
                            legend: {
                                text: "How does " + recall.fullName + "'s name appear on the licence?",
                                classes: "govuk-fieldset__legend--l",
                                isPageHeading: true
                            }
                        },
                        items: [
                            {
                                value: "FIRST_LAST",
                                text: recall.firstName + " " + recall.lastName,
                                checked: formValues.licenceNameCategory == 'FIRST_LAST'
                            },
                            {
                                value: "FIRST_MIDDLE_LAST",
                                text: recall.firstName + " " + recall.middleNames + " " + recall.lastName,
                                checked: formValues.licenceNameCategory == 'FIRST_MIDDLE_LAST'
                            }
                        ],
                        errorMessage: errorMessage(errors.licenceNameCategory)
                    }) }}
                </div>
                <div>
                    <button class="govuk-button"
                            data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

