{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - When was " + person.firstName + ' ' + person.lastName + ' last released from prison?' %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/request-received"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class="govuk-heading-l">
                When was {{ person.firstName }} {{ person.lastName }} last released from prison?
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form action="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/last-release" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                    {{ govukInput({
                        label: {
                            text: "Releasing prison",
                            classes: "govuk-label--m"
                        },
                        id: "lastReleasePrison",
                        name: "lastReleasePrison",
                        value: formValues.lastReleasePrison,
                        errorMessage: {
                            text: 'Enter a prison name'
                        } if errors.lastReleasePrison else undefined
                    }) }}
                    {{ govukDateInput({
                        name: 'lastReleaseDateTime',
                        id: 'lastReleaseDateTime',
                        fieldset: {
                            legend: {
                                text: 'Latest release date',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: [
                            {
                                name: "day",
                                classes: "govuk-input--width-2",
                                attributes: {
                                    maxlength: 2
                                },
                                value: formValues.lastReleaseDateTimeParts.day
                            },
                            {
                                name: "month",
                                classes: "govuk-input--width-2",
                                type: "number",
                                attributes: {
                                    maxlength: 2
                                },
                                value: formValues.lastReleaseDateTimeParts.month
                            },
                            {
                                name: "year",
                                classes: "govuk-input--width-4 govuk-!-margin-right-8",
                                attributes: {
                                    maxlength: 4
                                },
                                value: formValues.lastReleaseDateTimeParts.year
                            }
                        ],
                        errorMessage: {
                            text: 'Enter a valid date in the past'
                        } if errors.lastReleaseDateTime else undefined
                    }) }}

                </div>
                <div>
                    <button class="govuk-button"
                       data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

