{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - Upload documents" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/probation-officer"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class="govuk-heading-l">
                Upload documents
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% if person %}

                <form action="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/upload-documents?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data">
                    <div class="govuk-form-group">
                        {% for documentType in recall.documentTypes %}
                            {{ govukFileUpload({
                                id: documentType.name,
                                name: documentType.name,
                                label: {
                                    text: documentType.label,
                                    classes: 'govuk-label--m'
                                },
                                errorMessage: {
                                    text: "Upload a file"
                                } if errors[documentType.name] else undefined
                            }) }}
                        {%  endfor %}
                    </div>
                    <button class="govuk-button" data-qa='continueButton'>
                        Complete booking
                        </button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
