{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - Find an address results" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("postcode-lookup", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>
            <h1 class="govuk-heading-l">
                Select an address
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            <form novalidate action="{{ makeUrl('postcode-results', urlInfo) }}" method='post'>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <h2 class='govuk-heading-m'>Postcode</h2>
                <p class='govuk-body'><span class='govuk-!-font-weight-bold govuk-!-padding-right-2'>{{ postcode }}</span> <a href="{{ makeUrl('postcode-lookup', urlInfo) }}" class="govuk-link">Change <span class="govuk-visually-hidden">postcode</span></a></p>
                <input type='hidden' name='postcode' value='{{ postcode }}' />
                {{ govukSelect({
                    id: "addressUprn",
                    name: "addressUprn",
                    label: {
                        text: addresses.length + " address" + ("es" if addresses.length != 1 else ""),
                        classes: "govuk-label--m"
                    },
                    items: selectItems(addresses),
                    errorMessage: errorMessage(errors.addressUprn)
                }) }}
                <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
                    <a href="{{ makeUrl('address-manual', urlInfo) }}" class="govuk-link">I can't find the
                        address in the list</a>
                </p>
                <div class='govuk-!-margin-top-7'>
                    <button class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

