{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Recalls", errors) %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/recallInfoConfirmation.njk' %}
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-xl">
                Recalls
            </h1>

            {% set toDoHtml %}
            {% if results and results.toDo.length > 0 %}
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--l" data-qa="toDo-list-heading">
                        To do
                    </caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Due</th>
                        <th scope="col" class="govuk-table__header">Assigned to</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                        <th scope="col" class="govuk-table__header"><span class='govuk-visually-hidden'>View recall</span></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body" data-qa="search-results">
                    {% for result in results.toDo %}
                        <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                            <td class="govuk-table__cell"
                                data-qa="name">{{ result.fullName }}</td>
                            <td class="govuk-table__cell" data-qa="dueDate">
                                {% if result.status == 'AWAITING_DOSSIER_CREATION' or result.status == 'DOSSIER_IN_PROGRESS' %}
                                {{ dueDateLabel({ dueIsoDateTime: result.dossierTargetDate, includeTime: false, shortFormat: true }) }}
                                {% elseif result.recallAssessmentDueDateTime %}
                                {{ dueDateLabel({ dueIsoDateTime: result.recallAssessmentDueDateTime, includeTime: true, shortFormat: true }) }}
                                {% endif %}
                            </td>
                            <td class="govuk-table__cell" data-qa="assignedTo">{{ result.assigneeUserName }}</td>
                            <td class="govuk-table__cell">
                                {% set recall = result %}
                                {% set returnToRecallList = '1' %}
                                {% include "../partials/recallActionLink.njk" %}
                            </td>
                            <td class="govuk-table__cell">
                                <a href='/recalls/{{result.recallId}}/view-recall' data-qa='view-recall-{{ result.recallId }}'>View recall</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class='govuk-body'>No recalls</p>
            {% endif %}
            {% endset -%}

            {% set completedHtml %}
                {% if results and results.completed.length > 0 %}
                    <table class="govuk-table">
                        <caption class="govuk-table__caption govuk-table__caption--l" data-qa="completed-list-heading">
                            Completed
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Date</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body" data-qa="search-results">
                        {% for result in results.completed %}
                            <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                                <td class="govuk-table__cell" data-qa="name">{{ result.fullName }}</td>
                                <td class="govuk-table__cell" data-qa="completedDate">
                                    {% if result.status == 'DOSSIER_ISSUED'%}{{ result.dossierEmailSentDate | dateTime }}{% elif result.status == 'STOPPED'%}{{ result.lastUpdatedDateTime | dateOnly }}{% endif %}
                                </td>
                                <td class="govuk-table__cell" data-qa="status">{% if result.status == 'DOSSIER_ISSUED'%}Dossier issued{% elif result.status == 'STOPPED'%}Stopped{% endif %}</td>
                                <td class="govuk-table__cell">
                                    <a href='/recalls/{{result.recallId}}/view-recall?fromPage=/&fromHash=completed' data-qa='view-recall-{{ result.recallId }}'>View recall</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class='govuk-body'>No recalls</p>
                {% endif %}
            {% endset -%}

            {% set notInCustodyHtml %}
                {% if results and results.notInCustody.length > 0 %}
                    <table class="govuk-table" data-qa='notInCustody'>
                        <caption class="govuk-table__caption govuk-table__caption--l" data-qa="notInCustody-list-heading">
                            Not in custody
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Assigned to</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body" data-qa="search-results">
                        {% for result in results.notInCustody %}
                            <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                                <td class="govuk-table__cell" data-qa="name">{{ result.fullName }}</td>
                                <td class="govuk-table__cell" data-qa="assignedTo">{{ result.assigneeUserName }}</td>
                                <td class="govuk-table__cell" data-qa="status">{% if result.status == 'AWAITING_RETURN_TO_CUSTODY'%}Awaiting return to custody{% else %}Assessment complete{% endif %}</td>
                                <td class="govuk-table__cell">
                                    <div class='flex'>
                                    <span class='govuk-!-padding-right-2'>
                                    {% if result.status == 'AWAITING_RETURN_TO_CUSTODY' %}
                                        <a href='/recalls/{{result.recallId}}/rtc-dates'>Add RTC date</a>
                                    {% else %}
                                        <a href='/recalls/{{result.recallId}}/warrant-reference'>Add warrant reference</a>
                                    {% endif %}
                                    </span>
                                    <a href='/recalls/{{result.recallId}}/view-recall?fromPage=/&fromHash=notInCustody' data-qa='view-recall-{{ result.recallId }}'>View recall</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class='govuk-body'>No recalls</p>
                {% endif %}
            {% endset -%}

            {% set awaitingPartBHtml %}
                {% if results and results.awaitingPartB.length > 0 %}
                    <table class="govuk-table" data-qa='awaitingPartB'>
                        <caption class="govuk-table__caption govuk-table__caption--l" data-qa="awaitingPartB-list-heading">
                            Awaiting part B
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Due</th>
                            <th scope="col" class="govuk-table__header">Assigned to</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body" data-qa="search-results">
                        {% for result in results.awaitingPartB %}
                            <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                                <td class="govuk-table__cell" data-qa="name">{{ result.fullName }}</td>
                                <td class="govuk-table__cell" data-qa="due">
                                    {{ partBDueDateLabel({ partBDueDate: result.partBDueDate }) }}
                                </td>
                                <td class="govuk-table__cell" data-qa="assignedTo">{{ result.assigneeUserName }}</td>
                                <td class="govuk-table__cell">
                                    <div class='flex'>
                                    <a href='/recalls/{{result.recallId}}/view-recall?fromPage=/&fromHash=notInCustody' data-qa='view-recall-{{ result.recallId }}'>View recall</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class='govuk-body'>No recalls</p>
                {% endif %}
            {% endset -%}

            {{ govukTabs({
                items: [
                    {
                        label: "To do (" + results.toDo.length + ")",
                        id: "to-do",
                        panel: {
                            html: toDoHtml
                        }
                    },
                    {
                        label: "Completed (" + results.completed.length + ")",
                        id: "completed",
                        panel: {
                            html: completedHtml
                        }
                    },
                    {
                        label: "Not in custody (" + results.notInCustody.length + ")",
                        id: "notInCustody",
                        panel: {
                            html: notInCustodyHtml
                        }
                    },
                    {
                        label: "Awaiting part B (" + results.awaitingPartB.length + ")",
                        id: "awaitingPartB",
                        panel: {
                            html: awaitingPartBHtml
                        }
                    }
                ]
            }) }}
        </div>
    </div>

{% endblock %}
