{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - When did you receive the recall request?" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/persons/" + person.nomsNumber + "/recalls/" + recall.recallId + "/pre-cons-name"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ person.firstName }} {{ person.lastName }}</span>
            <h1 class="govuk-heading-l">
                When did you receive the recall request?
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="/persons/{{ person.nomsNumber }}/recalls/{{ recall.recallId }}/request-received?_csrf={{ csrfToken }}"
                  method="post" enctype="multipart/form-data">
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                    {{ govukDateInput({
                        name: 'recallEmailReceivedDateTime',
                        id: 'recallEmailReceivedDateTime',
                        fieldset: {
                            legend: {
                                text: 'Date and time you received the recall email',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("recallEmailReceivedDateTime", formValues.recallEmailReceivedDateTimeParts, true),
                        errorMessage: {
                            text: errors.recallEmailReceivedDateTime.text
                        } if errors.recallEmailReceivedDateTime else undefined,
                        hint: {
                            text: 'For example, 23 5 2021 at 15:46'
                        }
                    }) }}
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Upload the recall email</h2>
                    {% if recall.recallRequestEmail %}
                        <input type='hidden' name='{{ recall.recallRequestEmail.name}}' value='existingUpload'>
                        <div class='govuk-body govuk-!-margin-bottom-4'>
                            <a href='{{ recall.recallRequestEmail.url }}' class='govuk-link' data-qa='uploadedDocument-{{ recall.recallRequestEmail.category}}' download>{{ recall.recallRequestEmail.fileName }}</a>
                        </div>
                    {% endif %}
                    {{ govukFileUpload({
                        id: "recallRequestEmailFileName",
                        name: "recallRequestEmailFileName",
                        label: {
                            text: "Upload the recall email",
                            classes: 'govuk-visually-hidden'
                        },
                        attributes: {
                            accept: allowedEmailFileExtensionList()
                        },
                        errorMessage: {
                            text: errors.recallRequestEmailFileName.text
                        }  if errors.recallRequestEmailFileName
                    }) }}
                </div>
                <div>
                    <button class="govuk-button"
                       data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

