{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {% set currentPage = 'search' %}
            {% include "recall/_side-navigation.njk" %}
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Find an offender
            </h1>

            <form id="search" action="" method="post" class="govuk-!-padding-5 govuk-!-margin-bottom-9 search-panel">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <div class="moj-search">
                    <div class="govuk-form-group">
                        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                            Enter prison, file reference number or offender’s name
                        </label>
                        <span id="search-hint" class="govuk-hint moj-search__hint ">
                Enter full or partial number
              </span>
                        <input class="govuk-input moj-search__input " id="search-field" name="name" type="search"
                               aria-describedby="search-hint">
                    </div>
                    <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
                        Search
                    </button>
                </div>
                <a href="#" class="govuk-link button-link govuk-body-m">
                    Show extra search criteria
                </a>
            </form>


            <h2>Prisoners found:</h2>
            {% for prisoner in prisoners %}
                <h2>
                    <p>
                        Name: <span
                                data-qa="prisoner-name">{{ prisoner.firstName }} {{ prisoner.middlesNames }} {{ prisoner.lastName }}</span></br>
                        Date of birth: {{ prisoner.dateOfBirth }}</br>
                        Prisoner number:{{ prisoner.nomisNumber }}</br>
                        Aliases</br>
                        {% for alias in prisoner.aliases %}
                            Name: {{ alias.firstName }} {{ alias.lastName }}</br>
                            Date of birth: {{ alias.dateOfBirth }}</br>
                        {% endfor %}
                    </p>
                </h2>
            {% endfor %}

            {% if prisoners %}
            <h2 class="govuk-heading-m">
                {{ prisoners.length }} people found
                </h1>
                <form action="/recall/sentence-breached">
                    <table class="govuk-radios govuk-radios--small">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                            <th scope="col" class="govuk-table__header">PNC number</th>
                            <th scope="col" class="govuk-table__header">Family name</th>
                            <th scope="col" class="govuk-table__header">First name</th>
                            <th scope="col" class="govuk-table__header">Date of birth</th>
                            <th scope="col" class="govuk-table__header">Released from</th>
                            <th scope="col" class="govuk-table__header">Released on</th>
                            <th scope="col" class="govuk-table__header">Gender</th>
                            <th scope="col" class="govuk-table__header">Region</th>
                        </tr>
                        </thead>

                        <tbody class="govuk-table__body">
                        {% for prisoner in prisoners %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="person" name="person" type="radio" value="1">
                                        <label class="govuk-label govuk-radios__label" for="person">
                                        </label>
                                    </div>
                                </td>
                                <td class="govuk-table__cell">{{ prisoner.nomisNumber}}</td>
                                <td class="govuk-table__cell">Jack</td>
                                <td class="govuk-table__cell">Johnson</td>
                                <td class="govuk-table__cell">23 Feb 1970</td>
                                <td class="govuk-table__cell">HMP Leeds</td>
                                <td class="govuk-table__cell">20 Feb 2020</td>
                                <td class="govuk-table__cell">Male</td>
                                <td class="govuk-table__cell">Yorkshire &amp; Humber</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>

                {{ govukButton({
                    text: "Continue"
                }) }}
                </form>

                {% endif %}
        </div>
    </div>

{% endblock %}
