{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Find an address", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("last-known-address", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            {{ pageHeadingCaption({ action: 'Book a recall', name: recall.fullName }) }}
            <h1 class="govuk-heading-l">
                Find an address
            </h1>
            <form novalidate action="{{ makeUrl('postcode-results', urlInfo) }}" method='get'>
                <input type='hidden' name='fromPage' value='{{ urlInfo.fromPage }}' />
                <input type='hidden' name='fromHash' value='{{ urlInfo.fromHash }}' />
                {{ govukInput({
                    label: {
                        text: "Postcode",
                        classes: "govuk-label--s"
                    },
                    id: "postcode",
                    name: "postcode",
                    classes: 'govuk-input--width-10',
                    value: unsavedValues.postcode if unsavedValues.postcode else '',
                    errorMessage: {
                        text: errors.postcode.text
                    } if errors.postcode else undefined
                }) }}
                <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
                    <a href="{{ makeUrl('address-manual', urlInfo) }}" class="govuk-link">I can't find the
                        postcode</a>
                </p>
                {{ formSubmitButton({ label: 'Find'}) }}
            </form>
        </div>
    </div>

{% endblock %}

