{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - What type of recall is being recommended?" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrlRecallType({
            inCustodyAtBooking: recall.inCustodyAtBooking,
            lastKnownAddressOption: recall.lastKnownAddressOption,
            urlInfo: urlInfo
        })
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>

                    {{ govukRadios({
                        idPrefix: "recallType",
                        name: "recallType",
                        fieldset: {
                            legend: {
                                text: "What type of recall is being recommended?",
                                classes: "govuk-fieldset__legend--l",
                                isPageHeading: true
                            }
                        },
                        items: [
                            {
                                value: "STANDARD",
                                text: 'Standard',
                                checked: formValues.recallType == 'STANDARD'
                            },
                            {
                                value: "FIXED",
                                text: 'Fixed term',
                                checked: formValues.recallType == 'FIXED'
                            }
                        ],
                        errorMessage: errorMessage(errors.recallType)
                    }) }}
                </div>
                <div>
                    <button class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

