{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("When did you receive the recall request?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl('recall-type', urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>
            <h1 class="govuk-heading-l">
                When did you receive the recall request?
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo, csrfToken) }}"
                  method="post" enctype="multipart/form-data">
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                    {{ govukDateInput({
                        name: 'recallEmailReceivedDateTime',
                        id: 'recallEmailReceivedDateTime',
                        formGroup: {
                            classes: 'govuk-!-margin-bottom-3'
                        },
                        fieldset: {
                            legend: {
                                text: 'Date and time you received the recall email',
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: dateTimeItems("recallEmailReceivedDateTime", formValues.recallEmailReceivedDateTimeParts, true),
                        errorMessage: errorMessage(errors.recallEmailReceivedDateTime),
                        hint: {
                            text: 'For example, 23 11 2021 at 15:46'
                        }
                    }) }}
                    <div class='govuk-!-margin-bottom-6'>
                    {{ todayLink({
                        name: 'recallEmailReceivedDateTime',
                        cspNonce: cspNonce
                    }) }}
                    </div>
                    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Upload the recall email</h2>
                    {%  set emailField = recall.emailsUploaded.RECALL_REQUEST_EMAIL %}
                    {%  include '../partials/uploadedEmailLink.njk' %}

                    {{ govukFileUpload({
                        id: "recallRequestEmailFileName",
                        name: "recallRequestEmailFileName",
                        label: {
                            text: "Upload the recall email",
                            classes: 'govuk-visually-hidden'
                        },
                        attributes: {
                            accept: allowedEmailFileExtensionList()
                        },
                        errorMessage: errorMessage(errors.recallRequestEmailFileName)
                    }) }}
                </div>
                <div>
                    <button class="govuk-button" data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
