{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Book a recall - What is the name of the local police force?" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("last-release", urlInfo)
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <span class="govuk-caption-l">Book a recall for {{ recall.fullName }}</span>

            <form novalidate action="{{ formActionUrl('prison-police', urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                    {{ govukSelect({
                        label: {
                            text: "What is the name of the local police force?",
                            classes: "govuk-label--l",
                            isPageHeading: true
                        },
                        id: "localPoliceForce",
                        name: "localPoliceForce",
                        items: selectItems( referenceData.policeForces, formValues.localPoliceForceId, true),
                        errorMessage: errorMessage(errors.localPoliceForce)
                    }) }}
                </div>
                <div>
                    <button class="govuk-button"
                            data-qa='continueButton'>
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ autocomplete({
            name: 'localPoliceForce',
            cspNonce: cspNonce
        })
    }}
{% endblock %}
