{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Recalls", errors) %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/recallInfoConfirmation.njk' %}
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-xl">
                Recalls
            </h1>
            {% set toDoHtml %}
            {% if results and results.toDo.length > 0 %}
                <table class="govuk-table" data-module="moj-sortable-table" id='table-todo' data-qa='to-do'>
                    <caption class="govuk-table__caption govuk-table__caption--l" data-qa="toDo-list-heading">
                        To do
                    </caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                        <th scope="col" class="govuk-table__header" aria-sort="ascending">Due</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Assigned to</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body" data-qa="search-results">
                    {% for result in results.toDo %}
                        <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                            <td class="govuk-table__cell" data-qa="name" data-private>{{ result.fullName }}</td>
                            <td class="govuk-table__cell" data-qa="dueDate" data-sort-value='{{ result.toDoDueDateTime }}'>
                                <span class='wrapper-date-short'>
                                {% if result.status == 'AWAITING_DOSSIER_CREATION' or result.status == 'DOSSIER_IN_PROGRESS' %}
                                {{ dueDateTimeLabel({ dueIsoDateTime: result.dossierTargetDate, includeTime: false, shortFormat: true }) }}
                                {% elseif result.recallAssessmentDueDateTime %}
                                {{ dueDateTimeLabel({ dueIsoDateTime: result.recallAssessmentDueDateTime, includeTime: true, shortFormat: true }) }}
                                {% endif %}
                                </span>
                            </td>
                            <td class="govuk-table__cell" data-qa="assignedTo" data-private>{{ result.assigneeUserName }}</td>
                            <td class="govuk-table__cell" data-qa="lastUpdatedDateTime" data-sort-value='{{ result.lastUpdatedDateTime }}'>
                                <span class='wrapper-date-short'>
                                {{ result.lastUpdatedDateTime | dateTimeShort }}
                                </span>
                            </td>
                            <td class="govuk-table__cell">
                                <div class='flex flex--space-between'>
                                {% set recall = result %}
                                {% set returnToRecallList = '1' %}
                                    <div class='govuk-!-padding-right-3 wrapper-action-link'>
                                {% include "../partials/recallActionLink.njk" %}
                                    </div>
                                    <span class='no-wrap-tablet'>
                                    <a href='/recalls/{{result.recallId}}/view-recall' data-qa='view-recall-{{ result.recallId }}'>
                                        View recall<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                    </a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script nonce='{{ cspNonce }}'>
                new MOJFrontend.SortableTable({
                  table: $('#table-todo')[0]
                });
                </script>
            {% else %}
                <p class='govuk-body'>No recalls</p>
            {% endif %}
            {% endset -%}

            {% set completedHtml %}
                {% if results and results.completed.length > 0 %}
                    <table class="govuk-table" data-qa='completed' data-module="moj-sortable-table" id='table-completed'>
                        <caption class="govuk-table__caption govuk-table__caption--l" data-qa="completed-list-heading">
                            Completed
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                            <th scope="col" class="govuk-table__header" aria-sort="descending">Date</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body" data-qa="search-results">
                        {% for result in results.completed %}
                            <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                                <td class="govuk-table__cell" data-qa="name" data-private>{{ result.fullName }}</td>
                                <td class="govuk-table__cell" data-qa="completedDate" data-sort-value='{{ result.completedDateTime }}'>
                                    {% if result.status == 'DOSSIER_ISSUED'%}{{ result.dossierEmailSentDate | dateTime }}{% elif result.status == 'STOPPED'%}{{ result.lastUpdatedDateTime | dateOnly }}{% endif %}
                                </td>
                                <td class="govuk-table__cell" data-qa="status">{% if result.status == 'DOSSIER_ISSUED'%}Dossier issued{% elif result.status == 'STOPPED'%}Stopped{% endif %}</td>
                                <td class="govuk-table__cell">
                                    <a href='/recalls/{{result.recallId}}/view-recall' data-qa='view-recall-{{ result.recallId }}'>
                                        View recall<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script nonce='{{ cspNonce }}'>
                        new MOJFrontend.SortableTable({
                          table: $('#table-completed')[0]
                        });
                    </script>
                {% else %}
                    <p class='govuk-body'>No recalls</p>
                {% endif %}
            {% endset -%}

            {% set notInCustodyHtml %}
                {% if results and results.notInCustody.length > 0 %}
                    <table class="govuk-table" data-qa='notInCustody' data-module="moj-sortable-table" id='table-nic'>
                        <caption class="govuk-table__caption govuk-table__caption--l" data-qa="notInCustody-list-heading">
                            Not in custody
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Assigned to</th>
                            <th scope="col" class="govuk-table__header" aria-sort="ascending">Status</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body" data-qa="search-results">
                        {% for result in results.notInCustody %}
                            <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                                <td class="govuk-table__cell" data-qa="name" data-private>{{ result.fullName }}</td>
                                <td class="govuk-table__cell" data-qa="assignedTo" data-private>{{ result.assigneeUserName }}</td>
                                <td class="govuk-table__cell" data-qa="status">{% if result.status == 'AWAITING_RETURN_TO_CUSTODY'%}Awaiting return to custody{% else %}Assessment complete{% endif %}</td>
                                <td class="govuk-table__cell">
                                    <div class='flex'>
                                    <span class='govuk-!-padding-right-2'>
                                    {% if result.status == 'AWAITING_RETURN_TO_CUSTODY' %}
                                        <a href='/recalls/{{result.recallId}}/rtc-dates'>
                                       Add RTC date<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                        </a>
                                    {% else %}
                                        <a href='/recalls/{{result.recallId}}/warrant-reference'>
                                        Add warrant reference<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                        </a>
                                    {% endif %}
                                    </span>
                                    <a href='/recalls/{{result.recallId}}/view-recall' data-qa='view-recall-{{ result.recallId }}'>
                                        View recall<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                    </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script nonce='{{ cspNonce }}'>
                        new MOJFrontend.SortableTable({
                          table: $('#table-nic')[0]
                        });
                    </script>
                {% else %}
                    <p class='govuk-body'>No recalls</p>
                {% endif %}
            {% endset -%}

            {% set awaitingPartBHtml %}
                {% if results and results.awaitingPartB.length > 0 %}
                    <table class="govuk-table" data-qa='awaitingPartB' data-module="moj-sortable-table" id='table-partb'>
                        <caption class="govuk-table__caption govuk-table__caption--l" data-qa="awaitingPartB-list-heading">
                            Awaiting part B
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                            <th scope="col" class="govuk-table__header" aria-sort="ascending">Due</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Assigned to</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body" data-qa="search-results">
                        {% for result in results.awaitingPartB %}
                            <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                                <td class="govuk-table__cell" data-qa="name" data-private>{{ result.fullName }}</td>
                                <td class="govuk-table__cell" data-qa="due" data-sort-value='{{ result.partBDueDate }}'>
                                    {{ dueDateTimeLabel({ dueIsoDateTime: result.partBDueDate, includeTime: false, shortFormat: true, showOverdueForShortFormat: true }) }}
                                </td>
                                <td class="govuk-table__cell" data-qa="assignedTo" data-private>{{ result.assigneeUserName }}</td>
                                <td class="govuk-table__cell">
                                    <div class='flex'>
                                    <span class='govuk-!-padding-right-2'>
                                        <a href='/recalls/{{result.recallId}}/part-b' data-qa='upload-part-b-{{ result.recallId }}'>
                                        Upload part B<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                        </a>
                                    </span>
                                    <a href='/recalls/{{result.recallId}}/view-recall' data-qa='view-recall-{{ result.recallId }}'>
                                        View recall<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                    </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script nonce='{{ cspNonce }}'>
                        new MOJFrontend.SortableTable({
                          table: $('#table-partb')[0]
                        });
                    </script>
                {% else %}
                    <p class='govuk-body'>No recalls</p>
                {% endif %}
            {% endset -%}

            {% set dossierCheckHtml %}
                {% if results and results.dossierCheck.length > 0 %}
                    <table class="govuk-table" data-qa='dossierCheck' data-module="moj-sortable-table" id='table-dossier-check'>
                        <caption class="govuk-table__caption govuk-table__caption--l" data-qa="awaitingPartB-list-heading">
                            Dossier check
                        </caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                            <th scope="col" class="govuk-table__header" aria-sort="ascending">Due</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Sentence end date</th>
                            <th scope="col" class="govuk-table__header" aria-sort="none">Assigned to</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body" data-qa="search-results">
                        {% for result in results.dossierCheck %}
                            <tr class="govuk-table__row" data-qa='recall-id-{{ result.recallId }}'>
                                <td class="govuk-table__cell" data-qa="name" data-private>{{ result.fullName }}</td>
                                <td class="govuk-table__cell" data-qa="due" data-sort-value='{{ result.secondaryDossierDueDate }}'>
                                    <div class='no-wrap-tablet'>
                                    {{ dueDateTimeLabel({ dueIsoDateTime: result.secondaryDossierDueDate, includeTime: false, shortFormat: true, showOverdueForShortFormat: true }) }}
                                    </div>
                                </td>
                                <td class="govuk-table__cell" data-qa="sentenceEndDate" data-private>
{#                                    {{ result.sentenceEndDate | dateTime }}#}
                                </td>
                                <td class="govuk-table__cell" data-qa="assignedTo" data-private>{{ result.assigneeUserName }}</td>
                                <td class="govuk-table__cell">
                                    <div class='flex flex--space-between'>
                                            <div class='govuk-!-padding-right-2'>
                                        <form novalidate action="/recalls/{{ result.recallId }}/secondary-dossier-assign" method="post">
                                            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                                            <button class="govuk-link reset-button link-button" data-module="govuk-button" data-qa="prepare-dossier-{{ result.recallId }}">
                                                {% if result.status == 'SECONDARY_DOSSIER_IN_PROGRESS' %}Continue dossier preparation{% else %}Prepare dossier{% endif %}<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                            </button>
                                        </form>
                                        </div>
                                        <div class='no-wrap-tablet'>
                                        <a href='/recalls/{{result.recallId}}/view-recall'>
                                            View recall<span class="govuk-visually-hidden">{{ linkTextWithPerson(result) }}</span>
                                        </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script nonce='{{ cspNonce }}'>
                      new MOJFrontend.SortableTable({
                        table: $('#table-dossier-check')[0]
                      });
                    </script>
                {% else %}
                    <p class='govuk-body'>No recalls</p>
                {% endif %}
            {% endset -%}

            {{ govukTabs({
                items: [
                    {
                        label: "To do (" + results.toDo.length + ")",
                        id: "to-do",
                        panel: {
                            html: toDoHtml
                        }
                    },
                    {
                        label: "Completed (" + results.completed.length + ")",
                        id: "completed",
                        panel: {
                            html: completedHtml
                        }
                    },
                    {
                        label: "Not in custody (" + results.notInCustody.length + ")",
                        id: "notInCustody",
                        panel: {
                            html: notInCustodyHtml
                        }
                    },
                    {
                        label: "Awaiting part B (" + results.awaitingPartB.length + ")",
                        id: "awaitingPartB",
                        panel: {
                            html: awaitingPartBHtml
                        }
                    },
                    {
                        label: "Dossier check (" + results.dossierCheck.length + ")",
                        id: "dossierCheck",
                        panel: {
                        html: dossierCheckHtml
                    }
                    }
                ]
            }) }}
        </div>
    </div>

{% endblock %}
