{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Record a rescind request", errors) %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            {{ pageHeadingCaption({ action: 'Rescind recall', name: recall.fullName }) }}
            <h1 class="govuk-heading-l">
                Record a rescind request
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo, csrfToken) }}"
                  method="post" enctype="multipart/form-data">
                {{ govukTextarea({
                    name: "rescindRequestDetail",
                    id: "rescindRequestDetail",
                    label: {
                        text: "Provide details about the rescind request",
                        classes: "govuk-label--m"
                    },
                    value: formValues.rescindRequestDetail,
                    errorMessage: errorMessage(errors.rescindRequestDetail)
                }) }}
                {{ govukDateInput({
                    name: 'rescindRequestEmailReceivedDate',
                    id: 'rescindRequestEmailReceivedDate',
                    formGroup: {
                        classes: 'govuk-!-margin-bottom-3'
                    },
                    fieldset: {
                        legend: {
                            text: 'When did you receive the rescind request email?',
                            classes: 'govuk-fieldset__legend--m'
                        }
                    },
                    items: dateTimeItems("rescindRequestEmailReceivedDate", formValues.rescindRequestEmailReceivedDateParts, false),
                    errorMessage: errorMessage(errors.rescindRequestEmailReceivedDate),
                    hint: {
                        text: 'For example, 23 11 2021'
                    }
                }) }}
                <div class='govuk-!-margin-bottom-4 govuk-body'>
                    {{ todayLink({
                        name: 'rescindRequestEmailReceivedDate',
                        cspNonce: cspNonce
                    }) }}
                </div>
                <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Upload the email</h2>
                {% include '../partials/uploadedEmailLink.njk' %}

                {{ govukFileUpload({
                    id: "rescindRequestEmailFileName",
                    name: "rescindRequestEmailFileName",
                    label: {
                        text: "Upload the email",
                        classes: 'govuk-visually-hidden'
                    },
                    attributes: {
                        accept: allowedEmailFileExtensionList()
                    },
                    errorMessage: errorMessage(errors.rescindRequestEmailFileName)
                }) }}
                {{ formSubmitButton({ label: 'Save and return'}) }}
            </form>
        </div>
    </div>

{% endblock %}
