{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Who is the Senior Probation Officer?", errors) %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLinkUrl("secondary-dossier-legal-rep", urlInfo)
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            {{ pageHeadingCaption({ action: 'Prepare and send a dossier', name: recall.fullName }) }}
            <h1 class="govuk-heading-l">
                Who is the Senior Probation Officer?
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukInput({
                    label: {
                        text: "Name",
                        classes: "govuk-label--m"
                    },
                    id: "seniorProbationOfficerInfo_fullName",
                    name: "seniorProbationOfficerInfo_fullName",
                    value: formValues.seniorProbationOfficerInfo_fullName,
                    errorMessage: errorMessage(errors.seniorProbationOfficerInfo_fullName)
                }) }}

                {{ govukInput({
                    label: {
                        text: "Email address",
                        classes: "govuk-label--m"
                    },
                    id: "seniorProbationOfficerInfo_email",
                    name: "seniorProbationOfficerInfo_email",
                    type: 'email',
                    value: formValues.seniorProbationOfficerInfo_email,
                    errorMessage: errorMessage(errors.seniorProbationOfficerInfo_email)
                }) }}

                {{ govukInput({
                    label: {
                        text: "Phone number",
                        classes: "govuk-label--m"
                    },
                    id: "seniorProbationOfficerInfo_phoneNumber",
                    name: "seniorProbationOfficerInfo_phoneNumber",
                    type: 'tel',
                    classes: "govuk-input--width-20",
                    value: formValues.seniorProbationOfficerInfo_phoneNumber,
                    errorMessage: errorMessage(errors.seniorProbationOfficerInfo_phoneNumber)
                }) }}

                {{ govukInput({
                    label: {
                        text: "Probation functional email address",
                        classes: "govuk-label--m"
                    },
                    id: "seniorProbationOfficerInfo_probationEmail",
                    name: "seniorProbationOfficerInfo_probationEmail",
                    type: 'email',
                    value: formValues.seniorProbationOfficerInfo_probationEmail,
                    errorMessage: errorMessage(errors.seniorProbationOfficerInfo_probationEmail)
                }) }}
                <div class='govuk-!-margin-top-8'>
                    <button class="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
