{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle("Stop a recall", errors) %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/error-summary.njk' %}
            <form novalidate action="{{ makeUrl(urlInfo.currentPage, urlInfo, csrfToken) }}" method="post">
                {{ pageHeadingCaption({ action: 'Stop recall', name: recall.fullName }) }}
                {{ govukSelect({
                    id: "stopReason",
                    name: "stopReason",
                    label: {
                        text: "Why are you stopping this recall?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    items: selectItems(filterActiveItems(referenceData.stopReasons)),
                    errorMessage: errorMessage(errors.stopReason)
                }) }}
                {{ formSubmitButton({ label: 'Save and return'}) }}
            </form>
        </div>
    </div>

{% endblock %}
