{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - User details" %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% if errors %}
                {{ govukErrorSummary({
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">
                User details
            </h1>
            <form novalidate action="/user-details?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data">
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                    {{ govukInput({
                        label: {
                            text: "First name",
                            classes: "govuk-label--m"
                        },
                        id: "firstName",
                        name: "firstName",
                        value: user.firstName
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Last name",
                            classes: "govuk-label--m"
                        },
                        id: "lastName",
                        name: "lastName",
                        value: user.lastName
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Email address",
                            classes: "govuk-label--m"
                        },
                        id: "email",
                        name: "email",
                        type: 'email',
                        value: user.email
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Phone number",
                            classes: "govuk-label--m"
                        },
                        id: "phoneNumber",
                        name: "phoneNumber",
                        type: 'tel',
                        classes: "govuk-input--width-20",
                        value: user.phoneNumber
                    }) }}

                    {{ govukFileUpload({
                        id: 'signature',
                        name: 'signature',
                        hint: {
                            text: 'The file must be a ' + allowedImageFileTypeLabelList()
                        },
                        attributes: {
                            accept: allowedEmailFileExtensionList()
                        },
                        label: {
                            text: 'Upload a signature',
                            classes: "govuk-label--m"
                        }
                    }) }}
                    {%  if user.signature %}
                        <div class='govuk-!-margin-top-4'>
                    <input name='signatureEncoded' type='hidden' value='{{ user.signature }}'>
                    <img height='100' src="data:image/jpeg;base64,{{ user.signature }}"/>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <button class="govuk-button" data-qa='updateButton'>
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

