{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - User details" %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {% if errors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list,
                    attributes: {
                        'data-qa': 'error-list'
                    }
                }) }}
            {% endif %}
            <h1 class="govuk-heading-l">
                User details
            </h1>
            <form action="/user-details" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class='govuk-body govuk-form-group govuk-!-margin-bottom-8'>
                    {{ govukInput({
                        label: {
                            text: "First name",
                            classes: "govuk-label--m"
                        },
                        id: "firstName",
                        name: "firstName",
                        value: user.firstName
                    }) }}

                    {{ govukInput({
                        label: {
                            text: "Last name",
                            classes: "govuk-label--m"
                        },
                        id: "lastName",
                        name: "lastName",
                        value: user.lastName
                    }) }}

{#                    {{ govukInput({#}
{#                        label: {#}
{#                            text: "Email address",#}
{#                            classes: "govuk-label--m"#}
{#                        },#}
{#                        id: "email",#}
{#                        name: "email",#}
{#                        type: 'email'#}
{#                    }) }}#}

{#                    {{ govukInput({#}
{#                        label: {#}
{#                            text: "Phone number",#}
{#                            classes: "govuk-label--m"#}
{#                        },#}
{#                        id: "phoneNumber",#}
{#                        name: "phoneNumber",#}
{#                        type: 'tel',#}
{#                        classes: "govuk-input--width-20"#}
{#                    }) }}#}
                </div>
                <div>
                    <button class="govuk-button">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

