{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - View the recall" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/recallInfoConfirmation.njk' %}
            <h1 class="govuk-heading-xl">
                View the recall for {{ recall.fullName }}
            </h1>
            {% set fromPage = 'view-recall' %}
            {% include '../partials/recallInformationHeading.njk' %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include '../partials/personDetails.njk' %}
            {% include '../partials/custodyDetails.njk' %}
            {% include '../partials/recallDetails.njk' %}
            {% include '../partials/issuesDetails.njk' %}
            {% include '../partials/sentenceDetails.njk' %}
            {% include '../partials/policeDetails.njk' %}
            {% include '../partials/probationDetails.njk' %}
            {% include '../partials/additionalLicenceConditions.njk' %}
            {% include '../partials/generatedDocuments.njk' %}
            {% include '../partials/uploadedDocuments.njk' %}
            {% include '../partials/missingDocuments.njk' %}
            {% include '../partials/rescinds.njk' %}
        </div>
    </div>

{% endblock %}
